<!-- <ngx-ui-loader text="Loading..." textColor="#ffffff"></ngx-ui-loader> -->
<div class="application-tab" id="reviewPage">
  <div>


    <h3 class="heading">Confirmation page</h3>

    <h3 class="mb-5 heading heading--sm">
      Kindly confirm all the information you supplied are correct and hit the
      submit
    </h3>

    <div class="mb-4 row justify-content-between">
      <p class="font-small color-dark">Summary of Assigned form</p>

      <span class="font-small color-blue" style="cursor: pointer" (click)="handleGotoFirstPage()">Edit</span>
    </div>

    <div class="row justify-content-between">
      <div class="col-md-12" *ngFor="let section of createAppFields; index as i">
        <p class="review-section-header">{{ i + 1 }}. {{ section.name }}</p>
        <div class="row justify-content-between">
          <div class="col-md-4" *ngFor="let field of section.fields" [ngSwitch]="field.fieldType">
            <div class="" *ngSwitchDefault>
              <dl *ngIf="applicationData[field.name]">
                <dt>{{ field.label }}:</dt>
                <!-- <p>{{ applicationData[field.name] }}</p> -->
                <dd *ngIf="!isObject(applicationData[field.name])">
                  {{ applicationData[field.name] }}
                </dd>
                <dd *ngIf="isObject(applicationData[field.name])">
                  {{ applicationData[field.name]?.name }}
                </dd>
              </dl>
            </div>
            <div class="" *ngSwitchCase="'sub-section'">
              <div *ngFor="let subField of field.subSection">
                <dl *ngIf="applicationData[subField.name]">
                  <dt>{{ subField.label }}:</dt>
                  <dd>{{ applicationData[subField.name] }}</dd>
                </dl>
              </div>
            </div>
            <div class="" *ngSwitchCase="'table'">
              <div *ngFor="let data of field.data; index as id">
                <div *ngFor="let row of data.row">
                  <dl *ngIf="applicationData[field.name]">
                    <dt>
                      {{ row.label }}:
                      {{ applicationData[field.name][id][row.name] }}
                    </dt>

                    <dd>
                      <!-- {{
                           applicationData
                             ? applicationData[field.name][id][row.name]
                             : ""
                         }} -->
                      <!-- {{ applicationData?.amount }} -->
                      <!-- {{ $any(applicationData).$any(field.name)[id].row.name }} -->
                    </dd>
                  </dl>
                </div>
              </div>
              <div *ngFor="let data of field.summary; index as id">
                <p class="review-section-header">{{ data.name }}</p>
                <div *ngFor="let summary of data.fields; index as rowId">
                  <dl *ngIf="applicationData[summary.name]">
                    <dt>
                      {{ summary.label }}:
                      {{ applicationData[summary.name] }}
                    </dt>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="form-group">
        <label class="form__label" for="field1">Field 1</label>
        <input
          type="text"
          id="field1"
          [ngModel]="form.field1"
          readonly
          pInputText
          class="form-control"
        />
      </div> -->
      </div>

      <!-- <div class="col-md-5">
      <div class="form-group">
        <label class="form__label" for="field2">Field 2</label>
        <input
          type="text"
          id="field2"
          [ngModel]="form.field2"
          readonly
          pInputText
          class="form-control"
        />
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-group">
        <label class="form__label" for="field3">Field 3</label>
        <input
          type="text"
          id="field3"
          [ngModel]="form.field3"
          readonly
          pInputText
          class="form-control"
        />
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-group">
        <label class="form__label" for="field4">Field 4</label>
        <input
          type="text"
          id="field4"
          [ngModel]="form.field4"
          readonly
          pInputText
          class="form-control"
        />
      </div>
    </div> -->
    </div>

    <hr class="divider" />

    <div class="mb-4 row justify-content-between">
      <p class="font-small color-dark">Summary of Uploaded Documents</p>

      <span class="font-small color-blue" style="cursor: pointer" (click)="handlePrev()">Edit</span>
    </div>

    <div class="mb-4">
      <div class="mb-4" *ngFor="let doc of uploadedDocuments; index as i">
        <p><span class="mr-2">{{i+1}}.</span>{{ doc.name }}<a [href]="doc.document" target="_blank"><i
              class="ml-2 pi pi-window-maximize color-red"></i></a>
        </p>
      </div>
    </div>
    <div class="mb-4">
      <div class="mb-4" *ngFor="let doc of applicationData.requiredDocuments; index as i">
        <span *ngIf="doc.name && doc.document">
          <!-- <span> -->
          <p><span class="mr-2">{{i+1}}.</span>{{ doc.name }}<a [href]="doc.document" target="_blank"><i
                class="ml-2 pi pi-window-maximize color-red"></i></a>
          </p>
        </span>
      </div>
    </div>
    <div class="modal-body" [hidden]="printApp">
      <p>Payment calculator</p>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="paymentModel.boardType">
          Board Type
        </label>
        <div class="col-md-9">
          <p-dropdown [options]="boardTypes" (onChange)="onChange($event)" dataKey="id" optionLabel="name"
            [showClear]="true" [(ngModel)]="selectedBoardType" #boardTypeModel="ngModel" #boardTypeEl
            placeholder="--Select Board Type--" styleClass="w-100">
          </p-dropdown>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="numberOfShares">
          Number of shares
        </label>
        <div class="col-md-9">
          <input type="text" currencyMask [options]="{ prefix: '', thousands: ',', decimal: '',precision:0}"
            class="form-control" (ngModelChange)="numberOfSharesChange($event)" name="numberOfShares"
            id="numberOfShares" [(ngModel)]="paymentModel.numberOfShares" #numberOfSharesModel="ngModel"
            #numberOfSharesEl />
          <abp-validation-summary [control]="numberOfSharesModel" [controlEl]="numberOfSharesEl">
          </abp-validation-summary>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="price">
          Price
        </label>
        <div class="col-md-9">
          <input type="text" currencyMask [options]="{ prefix: '₦', thousands: ',', decimal: '.',precision:2}"
            class="form-control" (ngModelChange)="priceChange($event)" name="price" id="price"
            [(ngModel)]="paymentModel.price" #priceModel="ngModel" #priceEl />
          <abp-validation-summary [control]="priceModel" [controlEl]="priceEl"></abp-validation-summary>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <button pButton type="button" [disabled]="!enablePay" class="button button--primary" label="Calculate fee"
            (click)="computeApplicationFee()"></button>
        </div>
      </div>
      <div class="form-group row" style="padding-top:10px;">
        <label class="col-md-3 col-form-label">
          Amount to pay
        </label>
        <div class="col-md-9">
          <input type="text" currencyMask readonly class="form-control" [(ngModel)]="amount" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div>
            <input class="form-check-input" id="payNowCk" (change)="PayCheck($event.target)" type="checkbox"
              [(ngModel)]="payNow">
            <label class="form-check-label" for="payNowCk"> Confirm the amount to pay</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 mb-5 text-right w-100">
    <button pButton type="button" [disabled]="submitting" class="mr-3 button button--primary" label="Download"
      (click)="printReview()"></button>

    <span [hidden]="printApp"><button pButton type="button"
        class="mr-3 button button--outlined button--outlined-primary" label="Return to Application"
        (click)="handlePrev()"></button></span>

    <span [hidden]="printApp"><button pButton type="button" [disabled]="submitting" class="button button--primary"
        label="Submit Application" (click)="createApplication()"></button></span>
  </div>
</div>