<ngx-ui-loader text="Please wait..." textColor="#ffffff"></ngx-ui-loader>
<form class="form-horizontal" autocomplete="off" #viewOrganizationModal="ngForm">
  <abp-modal-header title="View Organization" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-3 col-form-label">
        Organization Type
      </label>
      <div class="col-md-9">
        <label class="form-control">
          {{organization.organizationTypeName}}
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">
        Organization Name
      </label>
      <div class="col-md-9">
        <label class="form-control">
          {{organization.name}}
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">
        Email
      </label>
      <div class="col-md-9">
        <label class="form-control">
          {{organization.email}}
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="name">
        Date Of Incorporation
      </label>
      <div class="col-md-9">
        <label class="form-control">
          {{ organization.dateOfIncorporation | date:'dd-MMM-yyyy' }}
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="name">
        Registration Number
      </label>
      <div class="col-md-9">
        <label class="form-control">
          {{organization.rcNumber}}
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="name">
        Address
      </label>
      <div class="col-md-9">
        <label class="form-control">
          {{organization.address}}
        </label>
      </div>
    </div>
    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "IsActive" | localize }}
      </label>
      <div class="col-md-9">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" disabled name="isActive" id="isActive"
            [(ngModel)]="organization.isActive" />
          <label class="custom-control-label mt-2" for="isActive"></label>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-cancel-footer (onCancelClick)="bsModalRef.hide()"></abp-modal-cancel-footer>
</form>