<div [@routerTransition] class="faq">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row justify-content-between align-items-start">
        <div>
          <h1 class="heading">
            {{ "FAQ (Frequently Asked Questions)" | localize }}
          </h1>
        </div>

        <button
          pButton
          type="button"
          icon="pi pi-print"
          class="button button--outlined button--outlined-grey"
          iconPos="left"
          label="Print"
        ></button>
      </div>
    </div>
  </section>

  <section class="content px-4">
    <div class="container-fluid">
      <p-accordion styleClass="accordion">
        <p-accordionTab header="Question 1">
          Synergistically leverage existing premium best practices for viral
          expertise. Dynamically myocardinate client-based growth strategies for
          real-time action items. Credibly disseminate open-source leadership
          via exceptional vortals. Synergistically leverage existing premium
          best practices for viral expertise. Dynamically myocardinate
          client-based growth strategies for real-time action items. Credibly
          disseminate open-source leadership via exceptional vortals.
          Synergistically leverage existing premium best practices for viral
          expertise. Dynamically myocardinate client-based growth strategies for
          real-time action items. Credibly disseminate open-source leadership
          via exceptional vortals.
        </p-accordionTab>
        <p-accordionTab header="Question 2">
          Synergistically leverage existing premium best practices for viral
          expertise. Dynamically myocardinate client-based growth strategies for
          real-time action items. Credibly disseminate open-source leadership
          via exceptional vortals. Synergistically leverage existing premium
          best practices for viral expertise. Dynamically myocardinate
          client-based growth strategies for real-time action items. Credibly
          disseminate open-source leadership via exceptional vortals.
          Synergistically leverage existing premium best practices for viral
          expertise. Dynamically myocardinate client-based growth strategies for
          real-time action items. Credibly disseminate open-source leadership
          via exceptional vortals.
        </p-accordionTab>
        <p-accordionTab header="Question 3">
          Synergistically leverage existing premium best practices for viral
          expertise. Dynamically myocardinate client-based growth strategies for
          real-time action items. Credibly disseminate open-source leadership
          via exceptional vortals. Synergistically leverage existing premium
          best practices for viral expertise. Dynamically myocardinate
          client-based growth strategies for real-time action items. Credibly
          disseminate open-source leadership via exceptional vortals.
          Synergistically leverage existing premium best practices for viral
          expertise. Dynamically myocardinate client-based growth strategies for
          real-time action items. Credibly disseminate open-source leadership
          via exceptional vortals.
        </p-accordionTab>
        <p-accordionTab header="Question 4">
          Synergistically leverage existing premium best practices for viral
          expertise. Dynamically myocardinate client-based growth strategies for
          real-time action items. Credibly disseminate open-source leadership
          via exceptional vortals. Synergistically leverage existing premium
          best practices for viral expertise. Dynamically myocardinate
          client-based growth strategies for real-time action items. Credibly
          disseminate open-source leadership via exceptional vortals.
          Synergistically leverage existing premium best practices for viral
          expertise. Dynamically myocardinate client-based growth strategies for
          real-time action items. Credibly disseminate open-source leadership
          via exceptional vortals.
        </p-accordionTab>
        <p-accordionTab header="Question 5">
          Synergistically leverage existing premium best practices for viral
          expertise. Dynamically myocardinate client-based growth strategies for
          real-time action items. Credibly disseminate open-source leadership
          via exceptional vortals. Synergistically leverage existing premium
          best practices for viral expertise. Dynamically myocardinate
          client-based growth strategies for real-time action items. Credibly
          disseminate open-source leadership via exceptional vortals.
          Synergistically leverage existing premium best practices for viral
          expertise. Dynamically myocardinate client-based growth strategies for
          real-time action items. Credibly disseminate open-source leadership
          via exceptional vortals.
        </p-accordionTab>
        <p-accordionTab header="Question 6">
          Synergistically leverage existing premium best practices for viral
          expertise. Dynamically myocardinate client-based growth strategies for
          real-time action items. Credibly disseminate open-source leadership
          via exceptional vortals. Synergistically leverage existing premium
          best practices for viral expertise. Dynamically myocardinate
          client-based growth strategies for real-time action items. Credibly
          disseminate open-source leadership via exceptional vortals.
          Synergistically leverage existing premium best practices for viral
          expertise. Dynamically myocardinate client-based growth strategies for
          real-time action items. Credibly disseminate open-source leadership
          via exceptional vortals.
        </p-accordionTab>
      </p-accordion>
    </div>
  </section>
</div>
