<!-- <div [@routerTransition] class="dashboard">   -->
    <div class="dashboard">  
        <section class="content-header">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-start"> 
    
                <!-- <button pButton type="button" icon="pi pi-plus" class="button button--primary pull-right" iconPos="left"
                    label="New Document Template" (click)="editDocTemplate()"></button> -->
                </div>
            </div>
        </section>
        
        <section class="content px-4 py-2 bg-white">
          <div class="container-fluid">
            <p-table #dt [columns]="cols" class="table" [rows]="10" [rowHover]="true" [paginator]="true" [loading]="loading"
              dataKey="id" [value]="lstDocTemplates">
              <ng-template pTemplate="caption">
                <div class="table-header p-grid">
      
                  <div class="p-col-4 text-left"> <span class="heading mb-0">{{
                    "Document Templates" | localize
                  }}</span>
                  </div>
      
                  <div class="p-col-8">
                    <button pButton type="button" icon="pi pi-file-excel"
                      class="button button--outlined button--outlined-grey mr-2" iconPos="left" label="Save CSV"></button>
                  <button pButton type="button" icon="pi pi-file-pdf"
                      class="button button--outlined button--outlined-grey mr-2" iconPos="left" label="Save PDF"></button>
                  <span class="p-input-icon-left table-search">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search " />
                    </span>
                  </div>
      
      
                </div>
              </ng-template>
      
              <ng-template pTemplate="header">
                <tr class="numbered-header"> 
                  <th style="width: 50%;">Template Name</th>
                  <th></th>
                </tr> 
              </ng-template>
      
              <ng-template pTemplate="body" let-row>
                <tr class="p-selectable-row"> 
                  <td> {{ row.name }} </td>  
                  <td> 
                    <button pButton type="button" icon="pi pi-pencil" class="button button--primary p-button-outlined" iconPos="left"
                            label="Edit Template" (click)="editDocTemplate(row)"></button> 
                      <!-- <button (click)="getPdf()" pButton type="button"  icon="pi pi-file-pdf" class="button button--red"
                              iconPos="left" style="margin-left: 10px;" label="Generate PDF"></button> -->
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </section>
         
      </div>
      
    
      <app-doc-template-item-dialog [(visible)]="displayItemDialog" [(id)]="item_id" [(name)]="item_name" [(approvalProcessList)]="approvalProcessList"
        [(docTemplate)]="docTemplate"  (loadDocTemplates)="loadDocTemplates()"></app-doc-template-item-dialog>