<div class="empty-state text-center">
  <div class="empty-state-icon font-size-xx-large mb-4 text-center">
    <i [ngClass]="icon"></i>
  </div>

  <p class="paragraph empty-state-text font-bold">{{ description }}</p>
</div>
