<!-- <ngx-ui-loader text="Please wait..." textColor="#ffffff"></ngx-ui-loader>
<div class="xpo-content-body xpo-content-body-invoice" *ngIf="webPayPayment">
  <div class="card card-invoice"
    *ngIf="webPayPayment.confirmationStatus === '00' || webPayPayment.confirmationStatus === '0'">
    <div class="card-body">
      <div class="invoice-header">
        <h3 class="invoice-title"><i class="fa fa-smile"></i>Payment Successful</h3>
      </div>
      <div class="row mg-t-20">
        <div class="col-md">
          <label class="tx-gray-600">Invoice Information</label>
          <p class="invoice-info-row">
            <span>Invoice No</span>
            <span>{{webPayPayment.AppTransid}}</span>
          </p>
          <p class="invoice-info-row">
            <span>Project ID</span>
            <span>{{webPayPayment.AppTransid}}</span>
          </p>
          <p class="invoice-info-row">
            <span>Issue Date:</span>
            <span>{{webPayPayment.transactiondate|date:'fullDate'}}</span>
          </p>
          <p class="invoice-info-row">
            <span>Payment Status:</span>
            <span class="dt-status-md badge badge badge-success badge-md tx-14">{{webPayPayment.description}}</span>
          </p>
        </div>
      </div>

      <div class="table-responsive mg-t-40">
        <table class="table table-invoice">
          <thead>
            <tr>
              <th class="wd-20p">Type</th>
              <th class="wd-40p">Description</th>
              <th class="tx-center">QTY</th>
              <th class="tx-right">Unit Price</th>
              <th class="tx-right">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img [src]="webPayPayment.logoUrl" alt="" class="xpo-img-logo">
                {{webPayPayment.description}}</td>
              <td class="tx-12">{{webPayPayment.description}}</td>
              <td class="tx-center">{{webPayPayment.description}}</td>
              <td class="tx-right">{{webPayPayment.amount|currency:'₦':'symbol'}}</td>
              <td class="tx-right">{{webPayPayment.amount|currency:'₦':'symbol'}}</td>
            </tr>

            <tr>
              <td colspan="2" rowspan="4" class="valign-middle">
              </td>
              <td class="tx-right">Sub-Total</td>
              <td colspan="2" class="tx-right">
                {{webPayPayment.amount|currency:'₦':'symbol'}}</td>
            </tr>
            <tr>
              <td class="tx-right">Transaction Charge(s)</td>
              <td colspan="2" class="tx-right">
                {{webPayPayment.amount|currency:'₦':'symbol'}}</td>
            </tr>

            <tr>
              <td class="tx-right tx-uppercase tx-bold tx-inverse">Amount Paid</td>
              <td colspan="2" class="tx-right">
                <h4 class="tx-primary tx-bold">{{webPayPayment.amount|currency:'₦':'symbol'}}</h4>
              </td>
            </tr>
          </tbody>
        </table>
        <hr class="mg-b-40">
      </div>
    </div>
  </div>
</div>
<div class="xpo-content-body xpo-content-body-invoice" *ngIf="webPayPayment">
  <div class="card card-invoice"
    *ngIf="webPayPayment.confirmationStatus !== '00' && webPayPayment.confirmationStatus !== '0'">
    <div class="card-body">
      <div class="invoice-header">
        <h1 class="invoice-title"><i class="fa fa-sad-cry"></i>Payment Failed</h1>
      </div>
      <div class="row mg-t-20">
        <div class="col-md">
          <label class="tx-gray-600">Transaction Details</label>
          <p class="invoice-info-row">
            <span>Reason</span>
            <span class="dt-status-md badge badge badge-danger badge-md tx-14">{{webPayPayment.description}}</span>
          </p>
          <p class="invoice-info-row">
            <span>Transaction Reference</span>
            <span>{{webPayPayment.AppTransid}}</span>
          </p>
        </div>
      </div>
      <hr class="mg-b-40">
    </div>
  </div>
</div> -->

<div [@routerTransition] class="application">
  <section class="content-header bg-white application-header vh-100" id="print-content" *ngIf="webPayPayment">
    <div class="container-fluid text-center">
      <!--  payment success start -->
      <div class="row justify-content-center align-items-center text-center"
        *ngIf="webPayPayment.confirmationStatus !== '00' && webPayPayment.confirmationStatus !== '0'">
        <div class="col-12 my-5">
          <img src="assets/img/success.png">
          <h1 class="text-success mt-4">Payment was successful</h1>
        </div>
        <div class="col-md-6 align-self-center">
          <div class="mb-3"><span class="p-text-bold mb-0 w-50 text-left float-left ml-0 ">Payment type:</span> <span
              class="w-50 text-right float-right">X-Pay </span> </div>
          <div class="mb-3"><span class="p-text-bold mb-0 w-50 text-left ml-0 float-left ">Email Address:</span> <span
              class="w-50 text-right float-right">francis@nse.com.ng </span> </div>
          <div class="mb-3"><span class="p-text-bold mb-0 w-50 text-left ml-0 float-left ">Reference No:</span> <span
              class="w-50 text-right float-right">XZCDSFGJSD </span> </div>
          <div class="mb-3"><span class="p-text-bold mb-0 w-50 text-left ml-0 float-left ">Amount Paid:</span> <span
              class="w-50 text-right float-right">N30,000.23 </span> </div>
          <div class="mb-3"><span class="p-text-bold mb-0 w-50 text-left ml-0 float-left">Transaction ID: </span> <span
              class="w-50 text-right float-right">1232312411NSE1234 </span> </div>
          <div class="mb-3"><span class="p-text-bold mb-0 w-50 text-left ml-0 float-left">Date Paid: </span> <span
              class="w-50 text-right float-right">12, November 2020 </span> </div>
          <button pButton type="button" icon="pi pi-print" class="button button--green mt-3" iconPos="left"
            (click)="printReceipt()">Print Receipt</button>
        </div>
      </div>
      <!-- payment success ends -->
      <!-- ------------------------------------------- -->
      <!--  payment failure start -->
      <div class="row justify-content-between align-items-center text-center">

        <div class="col-12 my-5">
          <img src="assets/img/failure.png">
          <h1 class="text-danger mt-4">Error in processing payment</h1>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-6 ">

          <div class="mb-3 text-center">We are sorry, but your current payment method could not be processed. Please
            contact your financial institution and Try again or Try a different payment method </div>
          <button pButton type="button" class="button button--primary mt-2" iconPos="left">Try again</button>
        </div>
      </div>
      <!-- payment failure ends -->
    </div>
  </section>
</div>