@font-face {
  font-family: "CircularStd";
  src: url("assets/fonts/circularStd/CircularStd-Book.otf") format("opentype"),
    url("assets/fonts/circularStd/CircularStd-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "CircularStd";
  src: url("assets/fonts/circularStd/CircularStd-Medium.otf") format("opentype"),
    url("assets/fonts/circularStd/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "CircularStd";
  src: url("assets/fonts/circularStd/CircularStd-Bold.otf") format("opentype"),
    url("assets/fonts/circularStd/CircularStd-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "CircularStd";
  src: url("assets/fonts/circularStd/CircularStd-Black.otf") format("opentype"),
    url("assets/fonts/circularStd/CircularStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

// icomoon
@font-face {
  font-family: "icomoon";
  src: url("assets/fonts/icomoon/icomoon.eot");
  src: url("assets/fonts/icomoon/icomoon.eot#iefix") format("embedded-opentype"),
    url("assets/fonts/icomoon/icomoon.ttf") format("truetype"),
    url("assets/fonts/icomoon/icomoon.woff") format("woff"),
    url("assets/fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
