.heading {
  @include respond(small) {
    @include font-size(medium);
  }

  @include font-size(large);
  @include font-weight(medium);
  font-family: $main-font;
  color: color(darker);
  line-height: 1.2;
}

.paragraph {
  @include respond(small) {
    @include font-size(small);
  }

  @include font-size(regular);
  color: color(dark);
  line-height: 1.8;
}

.text {
  &-nse {
    color: color(nse);
    text-transform: uppercase;
  }

}
