<!-- <ngx-ui-loader text="Loading..." textColor="#ffffff"></ngx-ui-loader> -->
<form
  #frm_application="ngForm"
  id="frm_application"
  class="form-sample"
  novalidate
>
  <p-dialog
    [(visible)]="visible"
    position="center"
    [modal]="true"
    styleClass="default-modal"
  >
    <p-header class=""> Application Version </p-header>

    <div class="default-modal-body">
      <div class="form-group">
        <div class="form__label">Version No: {{ data?.versionNo }}</div>
      </div>

      <div class="form-group">
        <div class="">Date Created: {{ data?.dateCreated | date }}</div>
      </div>

      <!-- <div class="pt-4 pb-4 text-center">
        <button
          pButton
          type="button"
          icon="pi pi-plus"
          class="button button--green"
          iconPos="left"
          label="Create"
        ></button>
      </div> -->
    </div>
  </p-dialog>
</form>

<!-- [disabled]="!frm_application.form.valid || saving" -->
