<form class="form-horizontal" autocomplete="off" #editIssuingCompanyModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header title="Edit Issuing Company" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        Issuing Company Name
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="name" id="name" required maxlength="100"
          [(ngModel)]="issuingCompany.name" #nameModel="ngModel" #nameEl />
        <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="rcNumber">
        Registration Number
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="rcNumber" id="rcNumber" required maxlength="100"
          [(ngModel)]="issuingCompany.rcNumber" #rcNumberModel="ngModel" #rcNumberEl />
        <abp-validation-summary [control]="rcNumberModel" [controlEl]="rcNumberEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label" for="isActive">
        {{ "IsActive" | localize }}
      </label>
      <div class="col-md-9">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="isActive" id="isActive"
            [(ngModel)]="issuingCompany.isActive" />
          <label class="custom-control-label mt-2" for="isActive"></label>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editIssuingCompanyModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>