<form class="form-horizontal" autocomplete="off" #editSmsSetupModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header title="Edit Sms Setup" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="baseUrl">
                BaseUrl
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="baseUrl" id="baseUrl" required maxlength="100"
                    [(ngModel)]="smsSetup.baseUrl" #hostModel="ngModel" #hostEl />
                <abp-validation-summary [control]="hostModel" [controlEl]="hostEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="senderName">
                Sender Name
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="senderName" id="senderName" required
                    [(ngModel)]="smsSetup.senderName" #portModel="ngModel" #portEl />
                <abp-validation-summary [control]="portModel" [controlEl]="portEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="userName">
                User Name
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="userName" id="userName" required maxlength="100"
                    [(ngModel)]="smsSetup.userName" #userNameModel="ngModel" #userNameEl />
                <abp-validation-summary [control]="userNameModel" [controlEl]="userNameEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="password">
                Password
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="password" id="password" required maxlength="100"
                    [(ngModel)]="smsSetup.password" #passwordModel="ngModel" #passwordEl />
                <abp-validation-summary [control]="passwordModel" [controlEl]="passwordEl"></abp-validation-summary>
            </div>
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editSmsSetupModal.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>