<ngx-ui-loader text="Loading..." textColor="#ffffff"></ngx-ui-loader>
<form
  class="form-horizontal"
  autocomplete="off"
  enctype="multipart/form-data"
  #createForm="ngForm"
  (ngSubmit)="saveApplication()"
>
  <div [@routerTransition] class="application">
    <section class="bg-white content-header application-header">
      <div class="container-fluid">
        <div class="row justify-content-between align-items-start">
          <div>
            <h1 class="heading">{{ "New Broker Application" | localize }}</h1>
            <h5
              class=""
              style="font-size: 13px; color: #a6ab2d !important"
              *ngIf="applicationType"
            >
              {{ applicationType }}
            </h5>
          </div>
          <div></div>
          <div>
            <!-- <button pButton type="button" icon="pi pi-save" class="button button--blue" iconPos="left"
              label="Save Progress"></button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="px-0 bg-white content application-main">
      <div class="menu">
        <ul class="nav nav-tabs" id="myTab" *ngIf="applicationId; else default">
          <li class="nav-item">
            <a
              routerLink="instruction"
              class="nav-link"
              [ngClass]="{ active: applicationView === 'instruction' }"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [queryParams]="{
                appId: applicationId,
                appTypeId: applicationTypeId,
                listingTypeId: listingTypeId
              }"
            >
              Instruction</a
            >
          </li>
          <li class="nav-item">
            <a
              routerLink="provide-information"
              class="nav-link"
              [ngClass]="{ active: applicationView === 'information' }"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [queryParams]="{
                appId: applicationId,
                appTypeId: applicationTypeId,
                listingTypeId: listingTypeId
              }"
            >
              Provide Information</a
            >
          </li>
          <li class="nav-item">
            <a
              routerLink="document-checklist"
              class="nav-link"
              routerLinkActive="active"
              [ngClass]="{ active: applicationView === 'document' }"
              [routerLinkActiveOptions]="{ exact: true }"
              [queryParams]="{
                appId: applicationId,
                appTypeId: applicationTypeId,
                listingTypeId: listingTypeId
              }"
              >Document Checklist</a
            >
          </li>
          <li class="nav-item">
            <a
              routerLink="review"
              class="nav-link"
              routerLinkActive="active"
              [ngClass]="{ active: applicationView === 'review' }"
              [routerLinkActiveOptions]="{ exact: true }"
              [queryParams]="{
                appId: applicationId,
                appTypeId: applicationTypeId,
                listingTypeId: listingTypeId
              }"
              >Review & Submit</a
            >
          </li>
        </ul>
        <ng-template #default>
          <ul class="nav nav-tabs" id="myTab">
            <li class="nav-item">
              <a
                routerLink="instruction"
                class="nav-link"
                [ngClass]="{ active: applicationView === 'instruction' }"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                [queryParams]="{
                  appTypeId: applicationTypeId,
                  listingTypeId: listingTypeId,
                  issuerCompanyId: issuerCompanyId
                }"
              >
                Instruction</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLink="provide-information"
                class="nav-link"
                [ngClass]="{ active: applicationView === 'information' }"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                [queryParams]="{
                  appTypeId: applicationTypeId,
                  listingTypeId: listingTypeId,
                  issuerCompanyId: issuerCompanyId
                }"
              >
                Provide Information</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLink="document-checklist"
                class="nav-link"
                routerLinkActive="active"
                [ngClass]="{ active: applicationView === 'document' }"
                [routerLinkActiveOptions]="{ exact: true }"
                [queryParams]="{
                  appTypeId: applicationTypeId,
                  listingTypeId: listingTypeId,
                  issuerCompanyId: issuerCompanyId
                }"
                >Document Checklist</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLink="review"
                class="nav-link"
                routerLinkActive="active"
                [ngClass]="{ active: applicationView === 'review' }"
                [routerLinkActiveOptions]="{ exact: true }"
                [queryParams]="{
                  appTypeId: applicationTypeId,
                  listingTypeId: listingTypeId,
                  issuerCompanyId: issuerCompanyId
                }"
                >Review & Submit</a
              >
            </li>
          </ul>
        </ng-template>
      </div>
      <div class="p-0 container-fluid">
        <router-outlet></router-outlet>

        <!--
        <p-tabView styleClass="mt-2" [activeIndex]="index">
          <p-tabPanel header="Provide Information" class="application-sections">
            <app-application-overview></app-application-overview>
            <app-provide-information></app-provide-information>
          </p-tabPanel>
          <p-tabPanel header="Document Checklist">
            <document-checklist></document-checklist>
          </p-tabPanel>
          <p-tabPanel header="Review & Submit">
            <review></review>
          </p-tabPanel>
        </p-tabView> -->
      </div>
    </section>
  </div>
</form>
