.menu{
    background-color: #fff;
    margin: 2rem 0;

}
.menu .nav-item a{
    float: none;
    display: inline-block;
    padding: 0.9em 1em;
    font-weight: 700;
    color: #4f4f4f !important;
}

.menu .nav-item a.active,.menu .nav-item a:hover{
    color: #a6ab2d !important;
    border-bottom: 2px solid #a6ab2d !important;
}
.nav-tabs .nav-link{
    border: none;
}

.information.application-tab.application-section {
    padding: 1rem 2rem;
    display: flex !important;
}



