.auth {
  @include respond(medium) {
    position: static;
    display: block;
    min-height: 100vh;
  }
  @include respond(small) {
  }
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100vw;
  height: 100vh;

  &__bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .copyright {
    color: color(white);
  }

  &__desc {
    font-size: 21px !important;
    color: color(white);
    line-height: 1.6;
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-form {
    @include respond(small) {
      padding: 2rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: color(white);
    overflow-y: auto;
  }

  &__heading {
    @include respond(largest) {
      @include font-size(x-large);
    }
    @include font-size(xx-large);
    @include font-weight(bold);
    color: color(white);
  }

  &__link {
    color: color(primary) !important;
    text-decoration: underline;
  }

  .login-card-body {
    flex: none;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
  }

  &-logo {
    width: 200px;
    margin: 0 auto 4rem;
  }

  &-info {
    &-wrapper {
      @include respond(medium) {
        display: none;
      }
      @include respond(small) {
      }
      z-index: 0;
      position: relative;
      display: grid;
      grid-template-rows: 30% 70%;
      padding: 3rem;
      height: 100%;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(49, 51, 10, 0.54);
        content: "";
      }
    }
  }

  &-row {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
  }

  .socials {
    @include font-size(medium);
    color: color(white);

    a {
      transition: color 0.3s;

      &:hover {
        color: color(primary);
      }
    }

    span.icomoon {
      margin: 0 10px;
    }

    &--mobile {
      @include respond(medium) {
        display: flex;
      }
      display: none;
      align-items: center;
      justify-content: center;
      color: color(primary);
      margin-top: 1rem;

      span.icomoon {
        margin: 0 10px;
      }
    }
  }

  &__title {
    @include font-size(large);
    @include font-weight(bold);
    color: color(primary);
  }
}
