<form #frm_application="ngForm" id="frm_application" class="form-sample" novalidate>
  <p-dialog (onHide)="closeModal()" appendTo="body"
  [dismissableMask]="true" [(visible)]="visible" position="center" [modal]="true" styleClass="default-modal">
    <p-header class=""> New Application </p-header>

    <div class="default-modal-body">

      <div class="form-group">
        <div class="form__label">Select Asset Type</div>
        <p-dropdown required [options]="applicationTypeCategories" [filter]="true" [showClear]="true" dataKey="id"
          optionLabel="name" (onChange)="onChangeAppCat($event)" placeholder="--Select Asset Type--" styleClass="w-100">
        </p-dropdown>
      </div>

      <div class="form-group">
        <div class="form__label">Select Application Type</div>
        <p-dropdown required [options]="applicationTypes" [filter]="true" [showClear]="true" dataKey="id"
          optionLabel="name" (onChange)="onChangeAppType($event)" placeholder="--Select Application Type--"
          styleClass="w-100">
        </p-dropdown>
      </div>

      <div class="form-group">
        <div class="form__label">Select Listing type</div>
        <p-dropdown required [options]="listingTypes" [filter]="true" [showClear]="true" dataKey="id" optionLabel="name"
          [(ngModel)]="selectedListingType" id="listingTypeId" name="listingTypeId" #listingTypeIdModel="ngModel"
          #listingTypeIdEl placeholder="--Select Listing Type--" styleClass="w-100">
        </p-dropdown>
      </div>

      <div class="form-group" *ngIf="showIssuerCompanyDiv">
        <div class="form__label">Select Issuer</div>
        <p-dropdown required [options]="issuerCompanies" [filter]="true" [showClear]="true" dataKey="id"
          optionLabel="name" (onChange)="onChangeIssuer($event)" placeholder="--Select Issuer--" styleClass="w-100">
        </p-dropdown>
      </div>
      <div class="form-group" *ngIf="showIssuerBondDiv">
        <div class="form__label">Select Bond</div>
        <p-dropdown required [options]="issuerBonds" [filter]="true" [showClear]="true" dataKey="id" optionLabel="name"
          (onChange)="onChangeIssuer($event)" placeholder="--Select Bond--" styleClass="w-100">
        </p-dropdown>
      </div>

      <div class="text-center pb-4 pt-4">
        <button pButton type="button" icon="pi pi-plus" class="button button--green" iconPos="left"
          (click)="showDialog()" label="Create"></button>
      </div>
    </div>
  </p-dialog>
</form>

<!-- [disabled]="!frm_application.form.valid || saving" -->