.p-inputtextarea {
  width: 100%;
}
.top-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.5rem;
}

.reviews .title {
  /* font-weight: 600; */
}

.reviews .foot {
  display: flex;
  justify-content: space-between;
}

.reviews .foot p {
  margin: 0;
}
.reviews {
  background: #f8f9fa;
  padding: 1rem;
}

.reviews .foot .date {
}

.reviews .foot {
}

.letter {
  padding: 4rem 12rem;
}
.letter-title {
  margin: 3rem -2rem;
}
.content-header {
  color: #aba708;
  font-size: 1.5rem;
  font-weight: 600;
}
