@mixin font-size($keyword) {
  font-size: get-font-size($keyword) !important;
}

@mixin font-weight($keyword) {
  font-weight: get-font-weight($keyword) !important;
}

@mixin respond($breakpoint) {
  @if ($breakpoint==smaller) {
    @media only screen and (max-width: 31.25em) {
      @content;
    } // 500px
  }
  @if ($breakpoint==small) {
    @media only screen and (max-width: 37.5em) {
      @content;
    } // 600px
  }
  @if ($breakpoint==medium) {
    @media only screen and (max-width: 48em) {
      @content;
    } // 768px
  }
  @if ($breakpoint==large) {
    @media only screen and (max-width: 56.25em) {
      @content;
    } // 900px
  }
  @if ($breakpoint==largest) {
    @media only screen and (max-width: 75em) {
      @content;
    } // 1000px
  }
}
