<p-sidebar
  [(visible)]="visible"
  styleClass="comments"
  position="right"
  [showCloseIcon]="false"
  [baseZIndex]="10000"
>
  <div class="comments-inner">
    <div class="comments-header">
      <h3 class="heading color-primary">Comments</h3>

      <span class="close-button" (click)="handleToggle()"
        ><i class="pi pi-times"></i
      ></span>
    </div>

    <div class="comments-body">
      <div class="form-group mb-5">
        <textarea pInputTextarea class="form-control" rows="6"></textarea>

        <div class="text-right">
          <button
            pButton
            type="button"
            (click)="handleToggle()"
            label="Comment"
            class="button button--primary mt-3"
          ></button>
        </div>
      </div>

      <div class="comment">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <div class="comment-name">
            <img src="../../../assets/img/user.png" />
            <p>Tobi Amodu</p>
          </div>

          <div class="comment-date">9:31, 3/9/2020</div>
        </div>

        <p class="comment-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </p>
      </div>

      <div class="comment">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <div class="comment-name">
            <img src="../../../assets/img/user.png" />
            <p>Tobi Amodu</p>
          </div>

          <div class="comment-date">9:31, 3/9/2020</div>
        </div>

        <p class="comment-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</p-sidebar>