<p-dialog
(onHide)="closeModal()"
  appendTo="body"
  [dismissableMask]="true"
  [(visible)]="visible"
  position="center"
  [modal]="true"
  [style]="{width: '50vw'}" [baseZIndex]="10000"
  styleClass="default-modal"
>
  <p-header *ngIf="stepItem.id==0"> Add Step To {{processName}}  </p-header>
  <p-header *ngIf="stepItem.id>0"> Update Step On {{processName}}  </p-header>

  <div class="default-modal-body">
    <div class="form-group col-12 row">
        <div class="col-4">
            <label class="form__label" for="title">Step No</label>
            <input type="number" [(ngModel)]="stepItem.stepSn" class="form-control" />
        </div> 
        <div class="col-8">
            <label class="form__label" for="title">Step Name</label>
            <input type="text" [(ngModel)]="stepItem.stepName" class="form-control" />
        </div> 
    </div>  
    <div class="form-group col-12 row">
        <div class="col-4">
            <label class="form__label" for="title">Step Type</label> 
            <select [(ngModel)]="stepItem.stepType" class="form-control">
                <option *ngFor="let step of lstSteptypes" [value]="step.value">
                    {{step.label}}
                </option>
            </select> 
        </div> 
        <div class="col-8" *ngIf="stepItem.stepType=='User'">
            <label class="form__label" for="title">Select User</label> 
            <select [(ngModel)]="stepItem.userId" class="form-control" aria-placeholder="--Select--">
                <option *ngFor="let usr of lstUsers" [value]="usr.value">
                    {{usr.label}}
                </option>
            </select> 
            <!-- <p-dropdown [options]="lstUsers" placeholder="--Select--" optionLabel="label" [(ngModel)]="stepItem.userId"  styleClass="w-100" ></p-dropdown> -->
        </div>  
        <div class="col-8" *ngIf="stepItem.stepType=='Group'">
            <label class="form__label" for="title">Select Group</label>
            <select [(ngModel)]="stepItem.roleId" class="form-control" aria-placeholder="--Select--">
                <option *ngFor="let grp of lstGroup" [value]="grp.id">
                    {{grp.name}}
                </option>
            </select> 
            <!-- <p-dropdown [options]="lstGroup" placeholder="--Select--" optionLabel="label" [(ngModel)]="stepItem.roleId"  styleClass="w-100" ></p-dropdown> -->
        </div> 
    </div>  
    <div class="form-group col-12 row">
        <div class="col-4">
            <label class="form__label" for="title">Swim Lane</label>
            <select [(ngModel)]="stepItem.swimLane" class="form-control" aria-placeholder="--Select--">
                <option *ngFor="let swm of lstSwim" [value]="swm.value">
                    {{swm.label}}
                </option>
            </select> 
            <!-- <p-dropdown [options]="lstSwim" placeholder="--Select--" optionLabel="label" optionValue="value" [(ngModel)]="stepItem.swimLane"  styleClass="w-100" ></p-dropdown> -->
        </div> 
        <div class="col-8">
            <label class="form__label" for="title">Action Tags</label>
            <input type="text" [(ngModel)]="stepItem.actionTags" class="form-control" />
        </div> 
    </div>  
    <div class="form-group col-12 row">
        <div class="col-12">
            <label class="form__label" for="title">Description</label>
            <textarea  [(ngModel)]="stepItem.description" class="form-control" ></textarea>
        </div>
    </div>   
     
    <div class="form-group col-12 row">
        <div class="col-3">
            <label class="form__label" for="title">Enable Escalation</label> <br />
            <input type="checkbox" name="vehicle1" [(ngModel)]="stepItem.hasEscalation">
              <!-- <div class="p-field-checkbox">
                <p-checkbox [(ngModel)]="stepItem.hasEscalation" binary="true" inputId="binary"></p-checkbox>
                <label for="binary">{{stepItem.hasEscalation}}</label>
            </div> -->
        </div> 
        <div class="col-3" *ngIf="stepItem.hasEscalation">
            <label class="form__label" for="title">Delay (Hours)</label>
            <input type="number" [(ngModel)]="stepItem.escalationHours" class="form-control" />
        </div> 
        <div class="col-3" *ngIf="stepItem.hasEscalation">
            <label class="form__label" for="title">Escalate To User</label>
            <select [(ngModel)]="stepItem.escalationsUserId" class="form-control" aria-placeholder="--Select--">
                <option *ngFor="let usr of lstUsers" [value]="usr.value">
                    {{usr.label}}
                </option>
            </select> 
            <!-- <p-dropdown [options]="lstUsers" placeholder="--Select--" optionLabel="label" optionValue="value" [(ngModel)]="stepItem.escalationUserId"  styleClass="w-100" ></p-dropdown> -->
        </div>  
        <div class="col-3" *ngIf="stepItem.hasEscalation">
            <label class="form__label" for="title">Escalate To Group</label>
            <select [(ngModel)]="stepItem.escalationPrivilegeId" class="form-control" aria-placeholder="--Select--">
                <option *ngFor="let grp of lstGroup" [value]="grp.id">
                    {{grp.name}}
                </option>
            </select> 
            <!-- <p-dropdown [options]="lstGroup" placeholder="--Select--" optionLabel="label" optionValue="value" [(ngModel)]="stepItem.escalationPrivilegeId"  styleClass="w-100" ></p-dropdown> -->
        </div> 
    </div> 

    <div class="form-group col-12 row"> 
        <div class="col-3">
            <label class="form__label" for="title">Approval Message</label>
            <input type="text" [(ngModel)]="stepItem.approvalDefaultMsg" class="form-control" />
        </div>   
        <div class="col-3">
            <label class="form__label" for="title">Rejection Message</label>
            <input type="text" [(ngModel)]="stepItem.rejectionDefaultMsg" class="form-control" />
        </div>   
        <div class="col-3">
            <label class="form__label" for="title">Approval Button Text</label>
            <input type="text" [(ngModel)]="stepItem.approvalButtonText" class="form-control" />
        </div>   
        <div class="col-3">
            <label class="form__label" for="title">Rejection Button Text</label>
            <input type="text" [(ngModel)]="stepItem.rejectionButtonText" class="form-control" />
        </div>   
    </div> 

    <div class="text-center pb-4 pt-4">
      <button
      (click)="saveform()"
        pButton
        type="button"
        icon="pi pi-save"
        class="button button--green"
        iconPos="left"
        label="Save"></button>
    </div>

  </div>
</p-dialog>
