<!-- Instuctions  -->
<!-- start block divestment: -->
<div class="action-row">
  <button pButton type="button" class="button button--primary pull-right" iconPos="left" label="Start Application"
    (click)="startForm()"></button>
</div>

<div class="application-info mx-5" *ngIf="applicationTypeId==13">
  <p class="font-bold text-nse">Instructions for Block divestment:</p>
  <p>
    a. This Application Form must be used for
    <b>filing applications for block divestment of shares.</b>
  </p>
  <p>
    b. The Trading License Holder to the Seller is responsible for filing the
    Block Divestment application with The Nigerian Stock Exchange
  </p>
  <p>c. Type “N/A” for fields that are not applicable.</p>
  <p>d. Fields marked with * are compulsory fields to be filled.</p>
  <p>
    e. It is the responsibilities of the sponsoring stockbrokers to ensure the
    application meets the requirements of the Provisions of:
  </p>
  <ul>
    <li>
      Amendments to Dealing Members Rules (Part XIIIA) – Block Divestments and
      Large Volume Trades in Equities
    </li>
  </ul>
</div>
<!-- end block divestment:-->

<!-- start initial listing of equities -->
<div class="application-info mx-5" *ngIf="applicationTypeId==5">
  <p class="font-bold text-nse">
    Instructions for initial Listing of Equities :
  </p>
  <p>
    a. This Application Form is to be completed for
    <b>Initial Listings which may arise from Initial Public Offering, Listing by
      Introduction, Mergers & Acquisitions, or any other transaction type.
    </b>
  </p>
  <p>
    b. Type “N/A” for fields that are not applicable to the respective
    application.
  </p>
  <p>
    c. It is the responsibilities of the sponsoring Trading License Holder to
    ensure the application meets the requirements of the Provisions of:
  </p>
  <ul>
    <li>
      Chapter 1: New Listing of Securities, Rulebook of The Exchange, 2015
      (Issuers’ Rules).
    </li>
    <li>
      Chapter 3: Contents of prospectus for new listings (in respect of whose
      securities are not listed on The Exchange), Rulebook of The Exchange, 2015
      (Issuers’ Rules).
    </li>
    <li>
      Chapter 12: Listing on the Premium Board, Rulebook of The Exchange, 2015
      (Issuers’ Rules), if applicable.
    </li>
  </ul>
</div>
<!-- end initial listing of equities -->

<!-- start listing of corporate bond -->
<div class="application-info mx-5" *ngIf="applicationTypeId==12">
  <p class="font-bold text-nse">Instructions for Listing of Corporate bond:</p>
  <p>
    a. This Application Form must be completed and submitted for
    <b>listing of Corporate Debt Instruments.</b>
  </p>
  <p>b. Type “N/A” for fields that are not applicable.</p>
  <p>c. Fields marked with * are compulsory field to be filled</p>

  <p>
    d. It is the responsibilities of the Sponsoring Trading License Holder (TLH)
    to ensure the application meets the requirements of the relevant provisions
    of:
  </p>
  <ul>
    <li>
      Chapter 1: New Listing of Securities, Rulebook of The Exchange, 2015
      (Issuers’ Rules).
    </li>
    <li>
      Chapter 3: Contents of prospectus for new listings (in respect of whose
      securities are not listed on The Exchange), Rulebook of The Exchange, 2015
      (Issuers’ Rules).
    </li>
  </ul>
</div>
<!-- end  listing of corporate bond -->

<!-- start Listing of FGN and State Bonds-->
<div class="application-info mx-5" *ngIf="applicationTypeId==11">
  <p class="font-bold text-nse">
    Instructions for Listing of FGN and State Bonds :
  </p>
  <p>
    a. This Application Form must be completed and submitted for
    <b>listing of Debt Instruments by Governments.</b>
  </p>
  <p>b. Type “N/A” for fields that are not applicable.</p>
  <p>c. Fields marked with * are compulsory field to be filled</p>

  <p>
    d. It is the responsibilities of the Sponsoring Trading License Holder (TLH)
    to ensure the application meets the requirements of the relevant provisions
    of:
  </p>
  <ul>
    <li>
      Chapter 1: New Listing of Securities, Rulebook of The Exchange, 2015
      (Issuers’ Rules).
    </li>
    <li>
      Chapter 8: Securities Issued by Statutory Bodies, Rulebook of The
      Exchange, 2015 (Issuers’ Rules).
    </li>
    <li>
      Chapter 3: Contents of prospectus for new listings (in respect of whose
      securities are not listed on The Exchange), Rulebook of The Exchange, 2015
      (Issuers’ Rules).
    </li>
  </ul>
</div>
<!-- end Listing of FGN and State Bonds-->

<!-- start Listing of FGN Reopening-->
<div class="application-info mx-5" *ngIf="applicationTypeId==10">
  <p class="font-bold text-nse">Instructions for Listing of FGN Reopening :</p>
  <p>
    a. This Application Form must be completed and submitted for
    <b>for listing of additional units of already listed Debt Instruments issued
      by Federal Government of Nigeria.</b>
  </p>
  <p>b. Type “N/A” for fields that are not applicable.</p>
  <p>c. Fields marked with * are compulsory field to be filled</p>

  <p>
    d. It is the responsibilities of the Sponsoring Trading License Holder (TLH)
    to ensure the application meets the requirements of the relevant provisions
    of:
  </p>
  <ul>
    <li>
      Chapter 8: Securities Issued by Statutory Bodies, Rulebook of The
      Exchange, 2015 (Issuers’ Rules).
    </li>
  </ul>
</div>
<!-- end Listing of FGN Reopening-->

<!-- Start Mutual Funds (Initial) -->
<div class="application-info mx-5" *ngIf="applicationTypeId==6">
  <p class="font-bold text-nse">
    Instructions for Initial Listing of Mutual Funds/ Exchange Traded Funds
    (ETFs)/Real Estate Investment Trust (REITs) :
  </p>
  <p>
    a. This Application Form must be completed and submitted for
    <b>
      Listing of Mutual Funds/ Exchange Traded Funds (ETFs)/Real Estate
      Investment Trust (REITs)
    </b>
    on the Daily Official List of the Exchange.
  </p>
  <p>b. Type “N/A” for fields that are not applicable</p>
  <p>c. Fields marked with * are compulsory field to be filled</p>

  <p>
    d. It is the responsibilities of the sponsoring trading license holder to
    ensure the application meets the requirements of the relevant provisions of
    the following:
  </p>
  <ul>
    <li>
      Chapter 5: Listing of Unit Trust on The Exchange, Rulebook of The
      Exchange, 2015 (Issuers’ Rules).
    </li>
    <li>
      Chapter 6: Contents of prospectus for Unit Trusts, Rulebook of The
      Exchange, 2015 (Issuers’ Rules).
    </li>
    <li>
      Chapter 7: Rules for the Listing of Exchange Traded Funds, Rulebook of The
      Exchange, 2015 (Issuers’ Rules).
    </li>
  </ul>
</div>
<!-- End Mutual Funds (Initial)-->

<!-- Start Mutual Funds (Supplmentary) -->
<div class="application-info mx-5" *ngIf="applicationTypeId==7">
  <p class="font-bold text-nse">
    Instructions for Supplementary Listing of Mutual Funds/ Exchange Traded
    Funds (ETFs)/Real Estate Investment Trust (REITs) :
  </p>
  <p>
    a. This Application Form must be completed and submitted for
    <b>
      Supplementary Listing of Mutual Funds/ Exchange Traded Funds (ETFs)/Real
      Estate Investment Trust (REITs)</b>
    on the Daily Official List of the Exchange.
  </p>
  <p>b. Type “N/A” for fields that are not applicable</p>
  <p>c. Fields marked with * are compulsory field to be filled</p>

  <p>
    d. It is the responsibilities of the sponsoring trading license holder to
    ensure the application meets the requirements of the relevant provisions of
    the following:
  </p>
  <ul>
    <li>
      Chapter 5: Listing of Unit Trust on The Exchange, Rulebook of The
      Exchange, 2015 (Issuers’ Rules).
    </li>
    <li>
      Chapter 7: Rules for the Listing of Exchange Traded Funds, Rulebook of The
      Exchange, 2015 (Issuers’ Rules).
    </li>
  </ul>
</div>
<!-- End Mutual Funds (Supplmentary)-->

<!-- start Supplementary Listing (Reviewed)-->
<div class="application-info mx-5" *ngIf="applicationTypeId==7">
  <p class="font-bold text-nse">
    Instructions for Supplementary Listing of Equities :
  </p>
  <p>
    a.  This Application Form is to be completed for
    <b>Initial Listings which may arise from Rights Issue, Placing, Debt
      Conversion to Equity, Staff Share Based Payment, Mergers & Acquisition,</b>
    or any other transaction type.
  </p>
  <p>b. Type “N/A” for fields that are not applicable.</p>
  <p>c. Fields marked with * are compulsory field to be filled</p>

  <p>
    d. It is the responsibilities of the Sponsoring Trading License Holder (TLH)
    to ensure the application meets the requirements of the relevant provisions
    of:
  </p>
  <ul>
    <li>
      Chapter 2: Supplementary Listing of Securities, Rulebook of The Exchange,
      2015 (Issuers’ Rules).
    </li>
    <li>
      Chapter 4: Contents of prospectus for new listings (in respect of
      companies whose securities are not listed on The Exchange), Rulebook of
      The Exchange, 2015 (Issuers’ Rules).
    </li>
  </ul>
  <p>
    In addition to the above rules, please note that the provisions of Chapters
    1, 3 and 12, Rulebook of The Exchange will apply to Mergers and
    Acquisitions.
  </p>
</div>
<!-- end Supplementary Listing (Reviewed)-->

<!-- start Voluntary DeListing-->
<div class="application-info mx-5" *ngIf="applicationTypeId==9">
  <p class="font-bold text-nse">
    Instructions for Supplementary Listing of Equities :
  </p>
  <p>
    a. This Application Form is to be completed for
    <b>
      the Voluntary Delisting of Equities from The Nigerian Stock Exchange.</b>
    or any other
  </p>
  <p>b. Type “N/A” for fields that are not applicable.</p>
  <p>c. Fields marked with * are compulsory field to be filled</p>

  <p>
    d. It is the responsibilities of the Sponsoring Trading License Holder (TLH)
    to ensure the application meets the requirements of the relevant provisions
    of:
  </p>
  <ul>
    <li>
      • Rule 21.4: Voluntary Withdrawal or Delisting, Rulebook of The Exchange
      2015 (Issuers’ Rule) and the delisting guideline of The Exchange.
    </li>
  </ul>
</div>
<!-- end  Voluntary DeListing-->

<!-- Start Open-End Fund / Closed-End Fund -->
<div class="application-info mx-5" *ngIf="applicationTypeId==24 || applicationTypeId==25">
  <p class="font-bold text-nse">
    Instructions for Initial Listing of Open-End Fund / Closed-End Fund:
  </p>
  <p>
    a. This Application Form must be completed and submitted for
    <b>
      Listing of Open-End Fund / Closed-End Fund
    </b>
    on the Daily Official List of the Exchange.
  </p>
  <p>b. Type “N/A” for fields that are not applicable</p>
  <p>c. Fields marked with * are compulsory field to be filled</p>

  <p>
    d. It is the responsibilities of the sponsoring trading license holder to
    ensure the application meets the requirements of the relevant provisions of
    the following:
  </p>
  <ul>
    <li>
      Chapter 5: Listing of Unit Trust on The Exchange, Rulebook of The
      Exchange, 2015 (Issuers’ Rules).
    </li>
    <li>
      Chapter 6: Contents of prospectus for Unit Trusts, Rulebook of The
      Exchange, 2015 (Issuers’ Rules).
    </li>
    <li>
      Chapter 7: Rules for the Listing of Exchange Traded Funds, Rulebook of The
      Exchange, 2015 (Issuers’ Rules).
    </li>
  </ul>
</div>
<!-- End Open-End Fund / Closed-End Fund-->

<!-- Start Open-End Fund / Closed-End Fund (Supplmentary) -->
<div class="application-info mx-5" *ngIf="applicationTypeId==26 || applicationTypeId==27">
  <p class="font-bold text-nse">
    Instructions for Supplementary Listing of Open-End Fund / Closed-End Fund :
  </p>
  <p>
    a. This Application Form must be completed and submitted for
    <b>
      Supplementary Listing of Open-End Fund / Closed-End Fund</b>
    on the Daily Official List of the Exchange.
  </p>
  <p>b. Type “N/A” for fields that are not applicable</p>
  <p>c. Fields marked with * are compulsory field to be filled</p>

  <p>
    d. It is the responsibilities of the sponsoring trading license holder to
    ensure the application meets the requirements of the relevant provisions of
    the following:
  </p>
  <ul>
    <li>
      Chapter 5: Listing of Unit Trust on The Exchange, Rulebook of The
      Exchange, 2015 (Issuers’ Rules).
    </li>
    <li>
      Chapter 7: Rules for the Listing of Exchange Traded Funds, Rulebook of The
      Exchange, 2015 (Issuers’ Rules).
    </li>
  </ul>
</div>
<!-- End Open-End Fund / Closed-End Fund (Supplmentary)-->

<!-- start STRUCTURED PRODUCTS/OTHERS -->
<div class="application-info mx-5" *ngIf="applicationTypeId==28 || applicationTypeId==29">
  <p class="font-bold text-nse">Instructions for Initial and Supplementary Listing of Structured Products/Others:</p>
  <p>
    a. This Application Form must be completed and submitted for
    <b>Initial and Supplementary Listing of Structured Products/Others.</b>
  </p>
  <p>b. Type “N/A” for fields that are not applicable.</p>
  <p>c. Fields marked with * are compulsory field to be filled</p>

  <p>
    d. It is the responsibilities of the Sponsoring Trading License Holder (TLH)
    to ensure the application meets the requirements of the relevant provisions
    of:
  </p>
  <ul>
    <li>
      Chapter 1: New Listing of Securities, Rulebook of The Exchange, 2015
      (Issuers’ Rules).
    </li>
    <li>
      Chapter 3: Contents of prospectus for new listings (in respect of whose
      securities are not listed on The Exchange), Rulebook of The Exchange, 2015
      (Issuers’ Rules).
    </li>
  </ul>
</div>
<!-- end  STRUCTURED PRODUCTS/OTHERS -->

<!-- start INITIAL LISTING OF FEDERAL GOVERNMENT BONDS-->
<div class="application-info mx-5" *ngIf="applicationTypeId==31">
  <p class="font-bold text-nse">
    Instructions for INITIAL LISTING OF FEDERAL GOVERNMENT BONDS :
  </p>
  <p>
    a. This Application Form must be completed and submitted for
    <b>listing of Debt Instruments by Governments.</b>
  </p>
  <p>b. Type “N/A” for fields that are not applicable.</p>
  <p>c. Fields marked with * are compulsory field to be filled</p>

  <p>
    d. It is the responsibilities of the Sponsoring Trading License Holder (TLH)
    to ensure the application meets the requirements of the relevant provisions
    of:
  </p>
  <ul>
    <li>
      Chapter 1: New Listing of Securities, Rulebook of The Exchange, 2015
      (Issuers’ Rules).
    </li>
    <li>
      Chapter 8: Securities Issued by Statutory Bodies, Rulebook of The
      Exchange, 2015 (Issuers’ Rules).
    </li>
    <li>
      Chapter 3: Contents of prospectus for new listings (in respect of whose
      securities are not listed on The Exchange), Rulebook of The Exchange, 2015
      (Issuers’ Rules).
    </li>
  </ul>
</div>
<!-- end INITIAL LISTING OF FEDERAL GOVERNMENT BONDS-->

<!-- start INITIAL LISTING OF STATE GOVERNMENT BONDS-->
<div class="application-info mx-5" *ngIf="applicationTypeId==34">
  <p class="font-bold text-nse">
    Instructions for INITIAL LISTING OF STATE GOVERNMENT BONDS :
  </p>
  <p>
    a. This Application Form must be completed and submitted for
    <b>listing of Debt Instruments by Governments.</b>
  </p>
  <p>b. Type “N/A” for fields that are not applicable.</p>
  <p>c. Fields marked with * are compulsory field to be filled</p>

  <p>
    d. It is the responsibilities of the Sponsoring Trading License Holder (TLH)
    to ensure the application meets the requirements of the relevant provisions
    of:
  </p>
  <ul>
    <li>
      Chapter 1: New Listing of Securities, Rulebook of The Exchange, 2015
      (Issuers’ Rules).
    </li>
    <li>
      Chapter 8: Securities Issued by Statutory Bodies, Rulebook of The
      Exchange, 2015 (Issuers’ Rules).
    </li>
    <li>
      Chapter 3: Contents of prospectus for new listings (in respect of whose
      securities are not listed on The Exchange), Rulebook of The Exchange, 2015
      (Issuers’ Rules).
    </li>
  </ul>
</div>
<!-- end INITIAL LISTING OF STATE GOVERNMENT BONDS-->

<!-- start REOPENING OF FEDERAL GOVERNMENT BONDS-->
<div class="application-info mx-5" *ngIf="applicationTypeId==32">
  <p class="font-bold text-nse">Instructions for REOPENING OF FEDERAL GOVERNMENT BONDS :</p>
  <p>
    a. This Application Form must be completed and submitted for
    <b>for listing of additional units of already listed Debt Instruments issued
      by Federal Government of Nigeria.</b>
  </p>
  <p>b. Type “N/A” for fields that are not applicable.</p>
  <p>c. Fields marked with * are compulsory field to be filled</p>

  <p>
    d. It is the responsibilities of the Sponsoring Trading License Holder (TLH)
    to ensure the application meets the requirements of the relevant provisions
    of:
  </p>
  <ul>
    <li>
      Chapter 8: Securities Issued by Statutory Bodies, Rulebook of The
      Exchange, 2015 (Issuers’ Rules).
    </li>
  </ul>
</div>
<!-- end REOPENING OF FEDERAL GOVERNMENT BONDS-->