<!-- <div [@routerTransition] class="dashboard">   -->
    <div class="col-12 row ">
        <div class="dashboard col-6 pull-left">  
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row justify-content-between align-items-start"> 
        
                    <button pButton type="button" icon="pi pi-plus" class="button button--primary" iconPos="left"
                        label="New Process" (click)="editProcess()"></button>
                    </div>
                </div>
            </section>
            
            <section class="content px-4 py-2 bg-white">
              <div class="container-fluid">
                <p-table #dt [columns]="cols" class="table" [rows]="10" [rowHover]="true" [paginator]="true" [loading]="processLoading"
                  dataKey="id" [value]="lstProcesses">
                  <ng-template pTemplate="caption">
                    <div class="table-header p-grid">
          
                      <div class="p-col-8 text-left"> <span class="heading mb-0">{{
                        "Process List" | localize
                      }}</span>
                      </div> 
                    </div>
                  </ng-template>
          
                  <ng-template pTemplate="header" let-columns>
                    <tr class="numbered-header">
                      <th style="width: 7%;">S/N</th>
                      <th style="width: 60%;">Name</th>
                      <th></th>
                    </tr> 
                  </ng-template>
          
                  <ng-template pTemplate="body" let-column>
                    <tr class="p-selectable-row">
                      <td> 
                         {{ column.id }}
                      </td> 
                      <td> 
                        {{ column.name }}
                      </td>   
                      <td>
                        <button pButton type="button" icon="pi pi-pencil" class="p-button-sm button--primary p-button-outlined" iconPos="left"
                                label="" (click)="editProcess(column.id)" title="Edit Process"></button> 

                        <button pButton type="button" icon="pi pi-list"  class="p-button-sm" style="margin-left:5%; background-color: cadetblue;" iconPos="left"
                        label="" (click)="loadSteps(column.id)" title="View Process Steps" ></button>  
 
                        <button pButton type="button" icon="pi pi-sort-amount-down-alt " class="p-button-sm"   style="margin-left: 5%; height: 34px; width: 34PX; vertical-align: bottom; background-color: darkslategray;" iconPos="left"
                        label=" " (click)="simulateProcess(column.id)" title="Simulate This Process"></button> 
                     
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </section>
             
          </div>






          <div class="col-6 pull-right" *ngIf="showSteps">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row justify-content-between align-items-start"> 
        
                    <button pButton type="button" icon="pi pi-plus" class="button button--primary pull-right" iconPos="left"
                        label="Add Step" (click)="editStep()" style="background-color: mediumseagreen !important; border: none !important;"></button>
                    </div>
                </div>
            </section>
            
            <section class="content px-4 py-2 bg-white">
              <div class="container-fluid">
                <p-table #dt2 [columns]="cols" class="table" [rows]="10" [rowHover]="true" [paginator]="true" [loading]="stepLoading"
                  dataKey="id" [value]="lstSteps">
                  <ng-template pTemplate="caption">
                    <div class="table-header p-grid">
          
                      <div class="p-col-12 text-left"> <span class="heading mb-0">{{ processName }} Steps</span>
                      </div> 
                    </div>
                  </ng-template>
          
                  <tr class="numbered-header"> 
                    <th style="width: 5%;">S/N</th>
                    <th style="width: 20%;">Step Type</th>
                    <th>Step Name</th>
                    <th></th>
                  </tr> 
                  
                  <ng-template pTemplate="body" let-column>
                    <tr class="p-selectable-row"> 
                      <td style="width: 5%;">{{ column.stepSn }} </td>   
                      <td style="width: 20%;">{{ column.stepType }} Mode</td>    
                      <td>{{ column.stepName }}</td>    
                      <td>
                      
                        <button pButton type="button" icon="pi pi-pencil" class="p-button-sm button--primary p-button-outlined" iconPos="left" title="Edit Step"
                       style="width: 35px; height: 35px;" label=" " (click)="editStep(column.id)"></button> 


                        <button pButton type="button" icon="pi pi-times" class="p-button-sm button--red p-button-outlined" iconPos="left" title="Delete Step"
                        style="width: 35px; height: 35px; margin-left: 10px;" label=" " (click)="removeStep(column.approvalProcessId, column.id)"></button> 
                      </td>
                    </tr>   
                  </ng-template>
                </p-table>
              </div>
            </section>
          </div>
    </div> 
      
    
     <app-process-item-dialog [(visible)]="displayProcessDialog" [(processItem)]="processItem" (loadProcesses)="loadProcesses()"></app-process-item-dialog>
       <app-step-item-dialog  (onClose)="showStepDialog()" [(visible)]="displayStepDialog" [(stepItem)]="stepItem" [(processName)]="processName" 
      (reloadSteps)="reloadSteps()"></app-step-item-dialog>


