<!-- <ngx-ui-loader text="Loading..." textColor="#ffffff"></ngx-ui-loader> -->
<div class="application-tab document">
  <h3 class="heading">Your Document Checklist</h3>

  <div class="application-info">
    <p>
      Required documents neeeded to complete this application are listed below.
      Kindly ensure Lorem ipsum dolor sit amet,
    </p>
  </div>

  <section class="px-4 py-1 bg-white content p-shadow-1">
    <div class="container-fluid">
      <p-table #dt [columns]="cols" class="table" [rows]="10" [rowHover]="true" [paginator]="true" [loading]="loading"
        dataKey="id" [value]="requiredDocuments">
        <ng-template pTemplate="header" let-columns>
          <tr class="numbered-header">
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-document let-rowIndex="rowIndex">
          <tr class="p-selectable-row">
            <td>
              {{ rowIndex + 1 }}
            </td>
            <td style="white-space: nowrap">
              <span *ngIf="document.required">*</span>{{ document.name }}
            </td>
            <td>
              <span
                [ngClass]="document.document ? 'color-green' : 'color-red'">{{ document.document || "Yet to upload" }}</span>
            </td>
            <td>
              <input pButton type="file" icon="pi pi-upload" class="button button--primary" iconPos="left"
                label="Upload" accept=".png,.jpg,.jpeg,.pdf,.doc,.docx,.xls,.xlsx,"
                (change)="fileChangeEvent($event.target.files, document)" *ngIf="!document.document" />

              <!-- <p-splitButton
                label="Action"
                [model]="buttonItems"
                styleClass="p-button-secondary table-action"
                (onDropdownClick)="setSelectedDocument(document)"
                *ngIf="document.document"
              ></p-splitButton> -->
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>
  <div class="mt-4 mb-5 text-right w-100">
    <button pButton type="button" class="mr-3 button button--outlined button--outlined-primary" label="Back"
      (click)="handlePrev()"></button>

    <button pButton type="submit" [disabled]="submitting" class="button button--primary" label="Submit"
      (click)="processDocument()"></button>
  </div>
</div>
<!-- <app-document-checklist (openNext)="openNext()" (openPrev)="openPrev()"></app-document-checklist> -->
