<ngx-ui-loader text="Please wait..." textColor="#ffffff"></ngx-ui-loader>
<div [@routerTransition]>
  <h4 class="auth__title mb-5">{{ "Create Password" | localize }}</h4>

  <form novalidate autocomplete="off" #confirmAccountForm="ngForm" (ngSubmit)="createPassword()">
    <div class="form-group row required">
      <label class="form__label" for="newPassword">
        {{ "NewPassword" | localize }}
      </label>
      <div class="input-group">
        <input [type]="showPassword ? 'text' : 'password'" class="form-control" name="newPassword" id="newPassword"
          required minlength="2" maxlength="32" validateEqual="confirmNewPassword" reverse="true"
          pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!@#$%^&*()]*$"
          [(ngModel)]="resetPasswordDto.password" #newPasswordModel="ngModel" #newPasswordEl />
        <div class="input-group-append" (click)="togglePassword()">
          <div class="input-group-text">
            <span [class]="showPassword ? 'far fa-eye-slash' : 'far fa-eye'"></span>
          </div>
        </div>
      </div>
      <abp-validation-summary [control]="newPasswordModel" [controlEl]="newPasswordEl"
        [customValidationErrors]="newPasswordValidationErrors"></abp-validation-summary>
    </div>
    <div class="form-group row required">
      <label class="form__label" for="confirmNewPassword">
        {{ "ConfirmNewPassword" | localize }}
      </label>
      <div class="input-group">
        <input [type]="showPassword ? 'text' : 'password'" class="form-control" name="confirmNewPassword"
          id="confirmNewPassword" required [(ngModel)]="resetPasswordDto.passwordAgain" minlength="2" maxlength="32"
          validateEqual="newPassword" reverse="false" ngModel #confirmNewPasswordModel="ngModel"
          #confirmNewPasswordEl />
        <div class="input-group-append" (click)="togglePassword()">
          <div class="input-group-text">
            <span [class]="showPassword ? 'far fa-eye-slash' : 'far fa-eye'"></span>
          </div>
        </div>
      </div>
      <abp-validation-summary [control]="confirmNewPasswordModel" [controlEl]="confirmNewPasswordEl"
        [customValidationErrors]="
            confirmNewPasswordValidationErrors
          "></abp-validation-summary>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary btn-block w-100"
          [disabled]="!confirmAccountForm.form.valid || submitting">
          {{ submitting ? "" : ("Create password" | localize) }}
          <p-progressSpinner *ngIf="submitting" [style]="{ width: '30px', height: '30px' }" strokeWidth="6"
            animationDuration=".5s"></p-progressSpinner>
        </button>
      </div>
    </div>
  </form>
</div>