<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row justify-content-between align-items-start">
        <div class="col-6">
          <h1 class="heading">{{ "Participant management" | localize }}</h1>
        </div>
        <div class="col-6 text-right">
          <button pButton type="button" icon="pi pi-plus" *ngIf="isGranted('CreateUser')" class="button button--primary"
            iconPos="left" label="Create User" (click)="createUser()"></button>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-4 bg-white">
    <div class="container-fluid">
      <p-table #dt [columns]="cols" class="table" [rows]="10" [rowHover]="true" [paginator]="true"
        [loading]="isTableLoading" dataKey="id" [value]="users">
        <ng-template pTemplate="caption">
          <div class="table-header">
            <span class="heading mb-0">Users for {{organizationName}}</span>

            <span class="p-input-icon-left table-search">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search Application" />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr class="numbered-header">
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
          <tr class="p-selectable-row">
            <td>
              {{rowIndex + 1}}
            </td>
            <td>
              {{ user.organizationName }}
            </td>
            <td>
              {{ user.fullName }}
            </td>
            <td>
              {{ user.emailAddress }}
            </td>
            <td>
              {{ user.phoneNumber }}
            </td>
            <td>
              {{ user.roleName }}
            </td>
            <td>
              {{ user.creationTime | date:'dd-MMM-yyyy'}}
            </td>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" disabled [checked]="user.isActive" />
                <label class="custom-control-label"></label>
              </div>
            </td>
            <td>
              <p-splitButton label="Action" [model]="buttonItems" styleClass="p-button-secondary table-action"
                (onDropdownClick)="setSelectedUser(user)"></p-splitButton>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>
</div>