<ngx-ui-loader text="Please wait..." textColor="#ffffff"></ngx-ui-loader>
<form class="form-horizontal" autocomplete="off" #replyEmailMessageModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header title="Reply Message" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="emailMessage.toId">
        Recipient
      </label>
      <div class="col-md-9">
        <label class="form-control">
          {{emailSender}}
        </label>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="subject">
        Subject
      </label>
      <div class="col-md-9">
        <input type="text" readonly class="form-control" name="subject" id="subject" required maxlength="100"
          [(ngModel)]="emailMessage.subject" #subjectModel="ngModel" #subjectEl />
        <abp-validation-summary [control]="subjectModel" [controlEl]="subjectEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="initialMessage">
        Message
      </label>
      <div class="col-md-9 message-details-body">
      <p  [innerHTML]="initialMessage">
      </p>
    </div>
    </div> 
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="message">
        Message Reply
      </label>
      <div class="col-md-9">
        <p-editor name="message" id="message" required 
          [(ngModel)]="emailMessage.message" #messageModel="ngModel" [style]="{'height':'320px'}" #messageEl></p-editor>
      </div>
    </div>    
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!replyEmailMessageModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>