.log-item{
    margin-bottom: 1rem;
    background: #f3f3f3;
    border-radius: 6px;
    padding: 1rem;
}
.log-container h1{
    font-size: 1.5rem;
    font-weight: 600;
    color: #84810c;
    margin-bottom: 2rem;
}
.log-item h3{
    font-size: 13px;
    margin-bottom: 7px;
    font-weight: 600;
    color: #aba708;
}
.log-item small{
    font-size: 11px;
    text-align: right;
    margin-top: 11px;
    color: #fd7e14;
}