<!-- <div [@routerTransition] class="dashboard">   -->
    <div class="dashboard">  
        <!-- <section class="content-header">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-start"> 
    
                <button pButton type="button" icon="pi pi-plus" class="button button--primary" iconPos="left"
                    label="New Form Section" (click)="editFormSection()"></button>
                </div>
            </div>
        </section> -->
        
        <!-- <section class="content px-4 py-2 bg-white">
          <div class="container-fluid">
               
            <p-table #dt [columns]="cols" class="table" [rows]="10" [rowHover]="true" [paginator]="true" [loading]="loading"
              dataKey="id" [value]="lstPendingItems">
              <ng-template pTemplate="caption">
               
    
              </ng-template> 
            </p-table>
            
            <table>
              <thead>
                <tr class="numbered-header">
                  <th>Process Name</th>
                  <th>Step No / Label</th> 
                  <th>Title</th>
                  <th>Pending Reviewer</th>
                  <th>Pending Duration</th>
                  <th></th>
                </tr> 
              </thead>
              <tbody>
                <tr class="p-selectable-row" *ngFor="let row of lstPendingItems">
                  <td>{{ column.processName }} </td> 
                  <td>{{ column.stepSn}} {{column.stepLabel  }}</td>  
                  <td>{{ column.title }}</td>
                  <td>{{ column.roleName }} {{ column.fullName}}</td>
                  <td>{{ column.pendingDuration }}</td>
                  <td> 
                    <button pButton type="button" icon="pi pi-pencil" class="button button--primary p-button-outlined" iconPos="left"
                            label="Edit" (click)="gotoItem(column)"></button> 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section> -->

        <section class="content px-4 py-2 bg-white">
          <div class="container-fluid">
            <p-table #dt [columns]="cols" class="table" [rows]="10" [rowHover]="true" [paginator]="true" [loading]="loading"
              dataKey="id" [value]="lstPendingItems">
              <ng-template pTemplate="caption">
                <div class="table-header p-grid">
      
                  <div class="p-col-4 text-left"> <span class="heading mb-0">{{ "My Pending Tasks" | localize }}</span> </div>
        
                  <div class="p-col-8">
                    <button pButton type="button" icon="pi pi-file-excel"
                      class="button button--outlined button--outlined-grey mr-2" iconPos="left" label="Save CSV"></button>
                  <button pButton type="button" icon="pi pi-file-pdf"
                      class="button button--outlined button--outlined-grey mr-2" iconPos="left" label="Save PDF"></button>
                  <span class="p-input-icon-left table-search">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search " />
                    </span>
                  </div>
        
                  <div class="form-group col-12 row" style="margin-top: 3%;">
                        <div class="col-5"> 
                            <select [(ngModel)]="processid" class="form-control" aria-placeholder="--Select--">
                              <!-- <option value="0" selected>--Select Process--</option> -->
                                <option *ngFor="let proc of lstProcesses" [value]="proc.id">
                                    {{proc.name}}
                                </option>
                            </select> 
                        </div>
                        <div class="col-4"> 
                            <button pButton type="button" icon="pi pi-search-plus" class="button button--primary" iconPos="left"
                              style="float: left;"   label="Fetch Pending Tasks" (click)="loadPendingItems()"></button> 
                        </div> 
                  </div>
                </div>
               
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr class="numbered-header"> 
                  <th>SN</th>
                  <th>Process Name</th> 
                  <th>Step Name</th> 
                    <th>Description</th>
                    <th>Pending Reviewer</th>
                    <th>Pending Duration</th>
                    <th></th>
                </tr> 
              </ng-template>
              
              
              <ng-template pTemplate="body" let-column>
                <tr class="p-selectable-row"> 
                  <td>{{lstPendingItems.indexOf(column) + 1}}</td>
                  <td>{{ column.processName }} </td> 
                  <td>Step {{ column.stepSn}} - {{column.stepLabel  }}</td>  
                  <td>{{ column.description }}</td>
                  <td>{{ column.roleName }} {{ column.fullName}}</td>
                  <td>{{ column.pendingDuration }}</td>
                  <td> 
                    <button pButton type="button" icon="pi pi-directions" class="button button--primary p-button-outlined" iconPos="left"
                            label="View Task" (click)="gotoItem(column)"></button> 
                  </td>
                </tr>   
              </ng-template>
            </p-table>
          </div>
        </section>
         
      </div> 