<form class="form-horizontal" autocomplete="off" #viewListingTypeModal="ngForm">
  <abp-modal-header title="View Listing Type" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-3 col-form-label">
        Application Type
      </label>
      <div class="col-md-9">
        <label class="form-control">
          {{listingType.applicationType?.name}}
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="name">
        Listing Type Name
      </label>
      <div class="col-md-9">
        <label class="form-control">
          {{listingType.name}}
        </label>
      </div>
    </div>
    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "IsActive" | localize }}
      </label>
      <div class="col-md-9">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" disabled name="isActive" id="isActive"
            [(ngModel)]="listingType.isActive" />
          <label class="custom-control-label mt-2" for="isActive"></label>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-cancel-footer (onCancelClick)="bsModalRef.hide()"></abp-modal-cancel-footer>
</form>
