<div class="application-tab">
  <h3 class="heading">List of Required Documentation</h3>

  <h3 class="heading heading--sm mb-5">
    Kindly upload all
  </h3>

  <div class="row justify-content-between mb-4">
    <div class="col-md-5">
      <div class="form-group">
        <label class="form__label" for="field1">Field 1</label>
        <div>
          <div class="upload-wrapper">
            <button
              pButton
              type="button"
              label="Upload"
              icon="pi pi-upload"
              class="button button--light-blue"
            ></button>

            <input type="file" id="field1" class="file-upload" />
          </div>

          <span class="upload-text">Attach file now...</span>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-group">
        <label class="form__label" for="field2">Field 2</label>
        <div>
          <div class="upload-wrapper">
            <button
              pButton
              type="button"
              label="Upload"
              icon="pi pi-upload"
              class="button button--light-blue"
            ></button>

            <input type="file" id="field2" class="file-upload" />
          </div>

          <span class="upload-text">Attach file now...</span>
        </div>
      </div>
    </div>
  </div>

  <div class="text-right mb-5 mt-4 w-100">
    <button
      pButton
      type="button"
      class="button button--outlined button--outlined-primary mr-3"
      label="Back"
      (click)="handleOpenPrev()"
    ></button>

    <button
      pButton
      type="button"
      [disabled]="submitting"
      class="button button--primary"
      label="Submit Application"
      (click)="handleOpenNext()"
    ></button>
  </div>
</div>
