<ngx-ui-loader text="Please wait..." textColor="#ffffff"></ngx-ui-loader>
<form class="form-horizontal" autocomplete="off" #createEmailMessageModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header title="Compose Message" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="emailMessage.toId">
        Recipient
      </label>
      <div class="col-md-9">
        <p-dropdown required [options]="users" [filter]="true" [showClear]="true" dataKey="id" optionLabel="fullName"
          [(ngModel)]="selectedUser" (onChange)="onChange($event)" id="toId" name="toId"
          #toIdModel="ngModel" #toIdEl placeholder="--Select User--" styleClass="w-100">
        </p-dropdown>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="subject">
        Subject
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="subject" id="subject" required
          [(ngModel)]="emailMessage.subject" #subjectModel="ngModel" #subjectEl />
        <abp-validation-summary [control]="subjectModel" [controlEl]="subjectEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="message">
        Message
      </label>
      <div class="col-md-9">
        <p-editor name="message" id="message" required
          [(ngModel)]="emailMessage.message" #messageModel="ngModel" #messageEl [style]="{'height':'320px'}"></p-editor>
        <!-- <abp-validation-summary [control]="messageModel" [controlEl]="messageEl"></abp-validation-summary> -->
      </div>
    </div>   
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createEmailMessageModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>