<div class="notification-modal" *ngIf="showModal" [@simpleFadeAnimation]="'in'">
  <span class="close" (click)="closeDialog()"
    ><i class="fas fa-times"></i
  ></span>

  <ul>
    <ng-content></ng-content>
  </ul>

  <div class="notification-modal-footer" *ngIf="hasViewAll">
    <a [routerLink]="viewAllUrl">View all {{ viewAllText }}</a>
  </div>
</div>
