<li class="nav-item dropdown nav-user-menu" dropdown>
  <a href="javascript:;" class="nav-link" dropdownToggle>
    <img class="user-image img-circle elevation-2" [src]="userImage$ | async" alt="User Image" />

    <span class="color-darker ml-2">{{fullName}} <i class="fas fa-angle-down ml-2"></i></span>
  </a>
  <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
    <a class="dropdown-item" href="javascript:;" style="cursor:not-allowed;">
      <i class="fas fa-university"></i> {{organization}}
    </a>
    <a class="dropdown-item" href="javascript:;" style="cursor:not-allowed;">
      <i class="fas fa-cog"></i> {{role}}
    </a>
    <a *ngIf="canChangePassword" class="dropdown-item" [routerLink]="['update-password']">
      <i class="fas fa-key"></i> {{ "UpdatePassword" | localize }}
    </a>
    <a class="dropdown-item" [routerLink]="['/app/profile']">
      <i class="fas fa-user-edit"></i> Profile
    </a>
    <a class="dropdown-item" href="javascript:;" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> {{ "Logout" | localize }}
    </a>

  </div>
</li>