.profile {
  background-color: color(white);
  min-height: calc(100vh - 110px);

  &-heading {
    @include font-size(regular);
    @include font-weight(bold);
  }

  &-image {
    width: 80px;
    height: 80px;
    margin-right: 1.5rem;
    object-fit: cover;
    object-position: center;
    border-radius: 80px;
  }

  .image-block {
    display: flex;
    align-items: center;
  }

  &-row {
    padding-bottom: 0.5rem;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba($color: #c4c4c4, $alpha: 0.2);

    &.no-bb {
      border-bottom: 0;
    }
  }
}
