<ngx-ui-loader text="Please wait..." textColor="#ffffff"></ngx-ui-loader>
<div class="application-tab" id="reviewPage">
    <div>
        <div class="modal-body">
            <p>Payment calculator</p>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="paymentModel.boardType">
                    Board Type
                </label>
                <div class="col-md-9">
                    <p-dropdown [options]="boardTypes" (onChange)="onChange($event)" dataKey="id" optionLabel="name"
                        [showClear]="true" [(ngModel)]="selectedBoardType" #boardTypeModel="ngModel" #boardTypeEl
                        placeholder="--Select Board Type--" styleClass="w-100">
                    </p-dropdown>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="numberOfShares">
                    Number of shares
                </label>
                <div class="col-md-9">
                    <input type="text" currencyMask [options]="{ prefix: '', thousands: ',', decimal: '',precision:0}"
                        class="form-control" (ngModelChange)="numberOfSharesChange($event)" name="numberOfShares"
                        id="numberOfShares" [(ngModel)]="paymentModel.numberOfShares" #numberOfSharesModel="ngModel"
                        #numberOfSharesEl />
                    <abp-validation-summary [control]="numberOfSharesModel" [controlEl]="numberOfSharesEl">
                    </abp-validation-summary>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="price">
                    Price
                </label>
                <div class="col-md-9">
                    <input type="text" currencyMask [options]="{ prefix: '₦', thousands: ',', decimal: '.',precision:2}"
                        class="form-control" (ngModelChange)="priceChange($event)" name="price" id="price"
                        [(ngModel)]="paymentModel.price" #priceModel="ngModel" #priceEl />
                    <abp-validation-summary [control]="priceModel" [controlEl]="priceEl"></abp-validation-summary>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <button pButton type="button" [disabled]="!enablePay" class="button button--primary"
                        label="Calculate fee" (click)="computeApplicationFee()"></button>
                </div>
            </div>
            <div class="form-group row" style="padding-top:10px;">
                <label class="col-md-3 col-form-label">
                    Amount to pay
                </label>
                <div class="col-md-9">
                    <input type="text" currencyMask readonly class="form-control" [(ngModel)]="amount" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>