<p-dialog
  [(visible)]="visible"
  position="center"
  [modal]="true"
  styleClass="default-modal"
>
  <p-header class="">
    {{dialogTitle}}
  </p-header>

  <div class="default-modal-body">
    <!-- <div class="form-group">
        <label class="form__label" for="title">Application Type</label>
        <p-dropdown
            [options]="arr" 
            placeholder="--Select--"
            optionLabel="label"
            styleClass="w-100"
      ></p-dropdown>
    </div>   -->
    <div class="form-group">
        <label class="form__label" for="title">Process Name</label>
        <input
          type="text" 
          [(ngModel)]="processItem.name" 
          class="form-control"
        />
    </div>  
    <div class="form-group">
        <label class="form__label" for="title">Description</label>
        <textarea  
          [(ngModel)]="processItem.description" 
          class="form-control"
       ></textarea>
    </div>   
    <div class="text-center pb-4 pt-4">
      <button
      (click)="saveform()"
        pButton
        type="button"
        icon="pi pi-save"
        class="button button--green"
        iconPos="left"
        label="Save"></button>
    </div>

  </div>
</p-dialog>
