<ngx-ui-loader text="Please wait..." textColor="#ffffff"></ngx-ui-loader>
<div [@routerTransition]>
  <h4 class="auth__title mb-5">{{ "Forgot Password" | localize }}</h4>

  <form novalidate autocomplete="off" #forgotPasswordForm="ngForm" (ngSubmit)="sendEmail()">
    <div class="form-group">
      <label for="username" class="form__label">Email Address</label>
      <div class="input-group">
        <input type="email" id="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" class="form-control"
          name="userNameOrEmailAddress" [(ngModel)]="userNameOrEmailAddress"
          [placeholder]="'UserNameOrEmail' | localize" required maxlength="256" #userNameOrEmailAddressModel="ngModel"
          #userNameOrEmailAddressEl />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-user"></span>
          </div>
        </div>
      </div>
      <abp-validation-summary [control]="userNameOrEmailAddressModel" [controlEl]="userNameOrEmailAddressEl">
      </abp-validation-summary>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary btn-block w-100"
          [disabled]="!forgotPasswordForm.form.valid || submitting">
          {{ submitting ? "" : ("Reset password" | localize) }}
          <p-progressSpinner *ngIf="submitting" [style]="{ width: '30px', height: '30px' }" strokeWidth="6"
            animationDuration=".5s"></p-progressSpinner>
        </button>
      </div>
    </div>
  </form>

  <p class="mb-2 mt-2 text-center">
    <a [routerLink]="['../login']" class="auth__link">
      <i class="pi pi-arrow-left font-size-small mr-2"></i>
      {{ "Back to login" | localize }}
    </a>
  </p>
</div>