﻿<ngx-ui-loader text="Please wait..." textColor="#ffffff"></ngx-ui-loader>
<form class="form-horizontal" autocomplete="off" #editUserModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'EditUser' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-3 col-form-label">
        Organization
      </label>
      <div class="col-md-9">
        <label class="form-control">
          {{user.organizationName}}
        </label>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label">
        {{ "Role" | localize }}
      </label>
      <div class="col-md-9">
        <p-dropdown required [options]="roles" [filter]="true" [showClear]="true" dataKey="id" optionLabel="name"
          [(ngModel)]="selectedRole" (onChange)="onChange($event)" id="roleId" name="roleId" #roleIdModel="ngModel"
          #roleIdEl placeholder="--Select Role--" styleClass="w-100">
        </p-dropdown>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        {{ "First Name" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="name" id="name" required maxlength="32" [(ngModel)]="user.name"
          #nameModel="ngModel" #nameEl />
        <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="surname">
        {{ "Last Name" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="surname" id="surname" required maxlength="32"
          [(ngModel)]="user.surname" #surnameModel="ngModel" #surnameEl />
        <abp-validation-summary [control]="surnameModel" [controlEl]="surnameEl"></abp-validation-summary>
      </div>
    </div>
    <!-- <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="userName">
            {{ "UserName" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="userName"
              id="userName"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="user.userName"
              #userNameModel="ngModel"
              #userNameEl
            />
            <abp-validation-summary
              [control]="userNameModel"
              [controlEl]="userNameEl"
            ></abp-validation-summary>
          </div>
        </div> -->
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="phoneNumber">
        {{ "Phone Number" | localize }}
      </label>
      <div class="col-md-9">
        <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber" required maxlength="32"
          [(ngModel)]="user.phoneNumber" #phoneNumberModel="ngModel" #phoneNumberEl />
        <abp-validation-summary [control]="phoneNumberModel" [controlEl]="phoneNumberEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="emailAddress">
        {{ "EmailAddress" | localize }}
      </label>
      <div class="col-md-9">
        <input readonly type="email" class="form-control" name="emailAddress" id="emailAddress" required maxlength="256"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" [(ngModel)]="user.emailAddress"
          #emailAddressModel="ngModel" #emailAddressEl />
        <abp-validation-summary [control]="emailAddressModel" [controlEl]="emailAddressEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "IsActive" | localize }}
      </label>
      <div class="col-md-9">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="isActive" id="isActive"
            [(ngModel)]="user.isActive" />
          <label class="custom-control-label mt-2" for="isActive"></label>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editUserModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>