<form class="form-horizontal" autocomplete="off" #viewEmailSetupModal="ngForm">
  <abp-modal-header title="View Email Setup" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
      <div class="form-group row">
          <label class="col-md-3 col-form-label" for="host">
              Host
          </label>
          <div class="col-md-9">
              <label class="form-control">
                  {{emailSetup.host}}
              </label>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-md-3 col-form-label" for="port">
              Port
          </label>
          <div class="col-md-9">
              <label class="form-control">
                  {{emailSetup.port}}
              </label>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-md-3 col-form-label" for="emailSenderName">
              Email Sender Name
          </label>
          <div class="col-md-9">
              <label class="form-control">
                  {{emailSetup.emailSenderName}}
              </label>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-md-3 col-form-label" for="password">
              Password
          </label>
          <div class="col-md-9">
              <label class="form-control">
                  {{emailSetup.password}}
              </label>
          </div>
      </div>
  </div>
  <abp-modal-cancel-footer (onCancelClick)="bsModalRef.hide()"></abp-modal-cancel-footer>
</form>
