.btn {
  &-primary,
  &-primary.disabled,
  &-primary:disabled {
    border-color: color(nse);
    background: color(nse);
    color: color(white);
    min-height: 50px;
    text-transform: uppercase;
  }

  &-primary.disabled,
  &-primary:disabled {
    opacity: 0.6;
  }
}

.button {
  display: inline-block !important;
  padding: 0.7rem 1.5rem;

  .ui-button-icon-left {
    position: static;
    margin: 0 10px 0 0;
    vertical-align: text-bottom;
  }

  .ui-button-text {
    padding: 0 !important;
    display: inline-block !important;
  }

  &--green {
    background-color: #27ae60 !important;
    border-color: #27ae60 !important;
    color: color(white);
  }

  &--outlined {
    background: transparent !important;
    border: 1px solid;

    &-gray {
      color: #595959 !important;
      border-color: #d9d9d9 !important;
    }
  }
}

.upload-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  .file-upload {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.upload-text {
  display: inline-block;
  color: color(darker);
  margin-left: 1rem;
}

.toggle-button {
  &.ui-togglebutton {
    background-color: color(grey) !important;
    border-color: color(grey) !important;

    &.ui-state-active {
      background-color: color(primary) !important;
      border-color: color(primary) !important;
    }
  }
}

@each $name, $color in $colors {
  .button--#{"" + $name},
  .button--#{"" + $name}:active {
    background: $color !important;
    border-color: $color !important;
    color: color(white) !important;

    &:hover,
    &:focus {
      border-color: $color !important;
      background: darken($color: $color, $amount: 20) !important;
      color: color(white) !important;
    }
  }

  .button--outlined-#{"" + $name},
  .button--outlined-#{"" + $name}:active {
    border-color: $color !important;
    color: $color !important;

    &:hover,
    &:focus {
      border-color: $color !important;
      background: darken($color: $color, $amount: 20) !important;
      color: color(white) !important;
    }
  }
}
