.card {
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border: 0;
  border-radius: 0;

  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    height: 2px;
    width: 100%;
    border-radius: 8px;
  }

  &-body {
    padding-top: 0;
    padding-bottom: 0;
  }

  &-header {
    border-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      display: none;
    }
  }

  &--green {
    &::after {
      background-color: color(green);
    }
  }

  &--orange {
    &::after {
      background-color: color(orange);
    }
  }

  &--red {
    &::after {
      background-color: color(red);
    }
  }

  &--unassigned {
    &::after {
      background-color: color(red);
    }
  }

  &--listed {
    &::after {
      background-color: color(red);
    }
  }

  &--underreview {
    &::after {
      background-color: color(red);
    }
  }

  &--delisted {
    &::after {
      background-color: color(red);
    }
  }

  &--denied {
    &::after {
      background-color: color(red);
    }
  }

  &--suspended {
    &::after {
      background-color: color(red);
    }
  }

  &--delisted {
    &::after {
      background-color: color(red);
    }
  }

  &__title {
    @include font-size(regular);
    @include font-weight(bold);
    margin-bottom: 0;
    color: color(dark);
  }

  &__text {
    @include font-size(m-large);
    @include font-weight(bold);
    color: color(dark);
  }

  .ui-card {
    box-shadow: none;
  }
}
