.comments {
  width: 25em;

  &-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .close-button {
      @include font-size(medium);
      position: fixed;
      top: 1rem;
      right: 1rem;
      color: color(red);
    }
  }

  &-inner {
    padding: 1.5rem 1rem;
  }

  .comment {
    margin-bottom: 2rem;

    &-date {
      @include font-size(x-small);
      color: color(primary);
    }

    &-description {
      @include font-size(x-small);
    }

    &-name {
      display: flex;
      align-items: center;

      img {
        margin-right: 0.5rem;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}