.form {
  &-control {
    border-color: #d9d9d9 !important;
    border-radius: 3px;
    height: 50px;
    background-color: color(white) !important;
    padding: 0.5em 1em !important;
  }

  &-group {
    margin-bottom: 1.5rem;

    .input-group .input-group-text {
      @include font-size(small);
      background-color: color(light-grey);
      color: rgba($color: #3c2ddf, $alpha: 0.2);
      cursor: pointer;
    }

    .input-group .form-control {
      border-right: 1px solid #d9d9d9 !important;
    }

    .ui-chips > ul.ui-inputtext .ui-chips-input-token input {
      width: 100%;
      height: 50px;
      background-color: color(white) !important;
      padding: 0.5em 1em !important;
    }

    .ui-chips > ul.ui-inputtext {
      width: 100%;
      padding: 0 !important;
      border-color: #d9d9d9 !important;
      border-radius: 3px;
    }

    .ui-chips > ul.ui-inputtext .ui-chips-input-token {
      padding: 0 !important;
    }
  }

  &__label {
    @include font-size(small);
    text-transform: capitalize;
    color: color(dark);
    margin-bottom: 0.5rem;
  }
}
