.main-sidebar {
  background-color: color(darker);
  height: 100vh !important;
  overflow-y: auto !important;

  .nav-item {
    margin: 0.7rem 0;
  }

  .nav-link {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;

    p {
      .right {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    & > .nav-icon {
      margin-left: 0 !important;
      margin-right: 0.7rem;
      vertical-align: text-bottom;
    }
  }

  .nav-sidebar {
    width: 100%;
    margin: 0;

    & > .nav-item > .nav-link {
      border-radius: 5px;

      &.active {
        background-color: rgba(179, 186, 31, 0.76);
      }
    }
  }

  .nav-treeview {
    padding-left: 0;
    background: transparent !important;

    .nav-link {
      border-left: 0 !important;
    }

    .nav-treeview {
      padding-left: 1rem;
    }
  }

  .menu-open > .nav-link i.right {
    transform: translateY(-50%) rotate(-90deg) !important;
  }

  .sidebar {
    padding: 0 1rem;
  }
}

.sidebar-collapse {
  .main-sidebar {
    &:hover {
      .nav-brand-logo {
        width: 80px;
      }
    }

    .sidebar {
      padding: 0 0.5rem;
    }
  }

  .application-main {
    left: 4.6rem;
    width: calc(100% - 4.6rem);
  }
}
