.table {
  &-action {
    button {
      @include font-size(small);
      background-color: white;
      color: color(#98b300);
      border: 1px solid #98b300 !important;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
      border-radius: 2px;
      &:hover { 
        background-color: #98b300; 
      }
    }

    &--split {
      background-color: color(white);
      border: 1px solid #d9d9d9;
      color: color(#98b300);
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
      border-radius: 2px;

      &::after {
        content: "";
        display: none !important;
      }
    }

    .ui-button{
      color: #98b300;
      &:hover { 
        background-color: #98b300 !important; 
      }
    }
    .ui-button-icon-only .ui-button-icon-left::before {
      font-family: "Font Awesome 5 Free" !important;
      font-weight: 900 !important;
      content: "\f142" !important;
    }
  }

  &-circle {
    margin-right: 10px;
    display: inline-block;
    border-radius: 10px;
    width: 10px;
    height: 10px;

    &--red {
      background-color: color(red);
    }
    &--orange {
      background-color: color(orange);
    }
    &--green {
      background-color: color(green);
    }
    &--yellow {
      background-color: color(yellow);
    }
  }

  &-status {
    @include font-size(x-small);
    @include font-weight(bold);
    text-transform: capitalize;
    padding: 5px 15px;
    border-radius: 10px;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-search {
    display: inline-flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    padding-left: 10px;

    i.pi {
      color: #bfbfbf;
    }

    input {
      border: 0 !important;

      &::placeholder {
        color: #bfbfbf;
      }

      &::-moz-placeholder {
        color: #bfbfbf;
      }

      &::-webkit-input-placeholder {
        color: #bfbfbf;
      }

      &:-ms-input-placeholder {
        color: #bfbfbf;
      }
    }
  }

  .numbered-header {
    th:first-child {
      width: 100px;
    }
  }

  thead.ui-table-thead {
    th {
      background-color: #fafafa !important;
      border: 0 !important;
      border-bottom: 1px solid #e8e8e8 !important;
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
    }
  }

  td{
    overflow-wrap: break-word;
  }

  .ui-table-caption {
    background-color: #fff !important;
    border-color: #e8e8e8 !important;
    padding: 1rem !important;
    padding-bottom: 0.5rem !important;
    text-align: right !important;
    border: 0 none !important;
    margin-bottom: 1rem;

    input {
      padding: 0.5rem 1rem;
    }
  }

  .ui-table-tbody > tr > td {
    border: 0 !important;
    border-bottom: 1px solid #e8e8e8 !important;
    padding: 1rem 0.857rem !important;
    vertical-align: middle !important;
  }

  .ui-paginator {
    background-color: color(white);
    border: 0;
    padding: 0;
    margin-top: 3rem;
    text-align: right;
  }

  .ui-menu {
    .ui-menuitem {
      position: relative;

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 1px;
        background: rgba($color: #c4c4c4, $alpha: 0.2);
        content: "";
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}
