<ngx-ui-loader text="Please wait..." textColor="#ffffff"></ngx-ui-loader>
<div [@routerTransition] class="profile">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row justify-content-between align-items-start">
        <div>
          <h1 class="heading">{{ "Edit Profile" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="content px-5">
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="col-12">
          <p class="paragraph">Profile picture</p>

          <div class="image-block">
            <img [src]="userImage$ | async" class="profile-image" alt="user" />

            <div class="upload-wrapper">
              <button
                pButton
                type="button"
                label="Upload new avatar"
                icon="pi pi-upload"
                class="button button--outlined button--outlined-gray profile-button"
              ></button>

              <input
                type="file"
                class="file-upload"
                accept="image/*"
                (change)="onFileChange($event)"
              />
            </div>
          </div>
        </div>
        <div class="text-right mb-5 mt-4">
          <button pButton type="button" [disabled]="!picForm || errors.length > 0" class="button button--primary"
            label="Update Profile Picture" (click)="changeProfilePicture()"></button>
        </div>
        <div class="text-danger" *ngIf="errors.length > 0">
          <ul>
              <li *ngFor="let err of errors">{{err}}</li>
          </ul>
      </div>
      </div>

     
        <form class="form-horizontal" autocomplete="off" #editProfile="ngForm" (ngSubmit)="save()">
         <div class="row profile-row mt-4">
           <div class="col-12">
          <h3 class="heading profile-heading">Personal Details</h3>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form__label" for="title">Title</label>
            <p-dropdown required [options]="titles" [filter]="true" [showClear]="true" dataKey="id" optionLabel="name"
              [(ngModel)]="selectedTitle" (onChange)="onChange($event)" id="titleId" name="titleId"
              #titleIdModel="ngModel" #titleIdEl placeholder="--Select Title--" styleClass="w-100">
            </p-dropdown>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form__label" for="name">First Name</label>
            <input type="text" id="name" name="name" required  [(ngModel)]="user.name" pInputText class="form-control" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form__label" for="surname">Last Name</label>
            <input type="text" id="surname" required name="surname" [(ngModel)]="user.surname" pInputText class="form-control" />
          </div>
        </div>
        <div class="text-right mb-5 mt-4">
          <!-- {{editProfile.form.dirtysss}} -->
          <button pButton type="submit" [disabled]="(!editProfile.form.valid && !editProfile.form.dirty) && submitting" class="button button--primary"
            label="Update User Details"></button>
        </div> 
      </div>  
      </form>
        
      <div class="row profile-row no-bb" *ngIf="user.organization">
        <div class="col-12">
          <h3 class="heading profile-heading">Organization Details</h3>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form__label" for="organizationName"> Name</label>
            <label readonly class="form-control">{{user.organizationName}}</label>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form__label" for="organizationEmail"> Email</label>
            <label readonly class="form-control">{{user.organization.email}}</label>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form__label" for="organizationRcNumber">Registration Number</label>
            <label readonly class="form-control">{{user.organization.rcNumber}}</label>
          </div>
        </div>

        <div class="col-md-9">
          <div class="form-group">
            <label class="form__label" for="organizationAddress"> Address</label>
            <label readonly class="form-control">{{user.organization.address}}</label>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="form__label" for="role">User Role</label>
            <label readonly class="form-control">{{user.roleName}}</label>
          </div>
        </div>

        <div class="col-md-3"></div>
      </div>

      <!-- <div class="row profile-row">
        <div class="col-12">
          <h3 class="heading profile-heading">Password Details</h3>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="form__label" for="oldPassword">Old Password</label>
            <input
              type="password"
              id="oldPassword"
              pInputText
              class="form-control"
            />
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="form__label" for="newPassword">New Password</label>
            <input
              type="password"
              id="newPassword"
              pInputText
              class="form-control"
            />
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="form__label" for="confirmNewPassword"
              >Confirm New Password</label
            >
            <input
              type="password"
              id="confirmNewPassword"
              pInputText
              class="form-control"
            />
          </div>
        </div>
      </div> -->
    </div>
  </section>
</div>