<p-dialog
  [(visible)]="visible"
  position="center"
  [modal]="true" 
  
   [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" 
> 
<!-- styleClass="default-modal"  -->
  <p-header class="">
    {{dialogTitle}}
  </p-header>

  <div class="default-modal-body">
    <div class="form-group">
        <label class="form__label" for="title">Template Name</label>
        <input
          type="text"  readonly
          [(ngModel)]="docTemplate.name" 
          class="form-control"
        />
    </div>  
    <div class="form-group">
        <label class="form__label" for="title">Approval Process</label>
        <select [(ngModel)]="docTemplate.approvalProcessId" class="form-control" aria-placeholder="--Select--">
            <option value="0">--Select--</option>
            <option *ngFor="let proc of approvalProcessList" [value]="proc.id">
                {{proc.name}}
            </option>
        </select> 
    </div>  
    <div class="form-group">
        <label class="form__label" for="title">Template Body</label> 
        <angular-editor [config]="editorConfig" [placeholder]="'Enter text here...'" [(ngModel)]="docTemplate.template"></angular-editor>

        <!-- <p-editor [(ngModel)]="docTemplate.template" [style]="{'height':'320px'}"></p-editor>  -->
    </div>   
    <div class="text-center pb-4 pt-4">
      <button
      (click)="getPdf()"
        pButton
        type="button"
        icon="pi pi-file-pdf"
        class="button button--red"
        iconPos="left" style="margin-right: 10px;"
        label="Generate PDF"></button>

        <button
        (click)="saveform()"
          pButton
          type="button"
          icon="pi pi-plus"
          class="button button--green"
          iconPos="left"
          label="Save"></button>
    </div>

  </div>

  <div id="template_editor" style="padding: 5%; display: none;" [innerHTML]="docTemplate.template"></div>

</p-dialog>
