<ngx-ui-loader text="Please wait..." textColor="#ffffff"></ngx-ui-loader>
<form class="form-horizontal" autocomplete="off" #forwardEmailMessageModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header title="Forward Message" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="emailMessage.toId">
        Recipient
      </label>
      <div class="col-md-9">
        <p-dropdown required [options]="users" [filter]="true" [showClear]="true" dataKey="id" optionLabel="fullName"
          [(ngModel)]="selectedUser" (onChange)="onChange($event)" id="toId" name="toId"
          #toIdModel="ngModel" #toIdEl placeholder="--Select User--" styleClass="w-100">
        </p-dropdown>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="subject">
        Subject
      </label>
      <div class="col-md-9">
        <input type="text" readonly class="form-control" name="subject" id="subject" required maxlength="100"
          [(ngModel)]="emailMessage.subject" #subjectModel="ngModel" #subjectEl />
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="message">
       Forward Message
      </label>
      <div class="col-md-9 message-details-body">
        <p  [innerHTML]="emailMessage.message">
        </p>
      </div>  
    </div>    
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!forwardEmailMessageModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>