<form class="form-horizontal" autocomplete="off" #createEmailSetupModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header title="Create New EmailSetup" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="host">
        Host
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="host" id="host" required maxlength="100" [(ngModel)]="emailSetup.host"
          #hostModel="ngModel" #hostEl />
        <abp-validation-summary [control]="hostModel" [controlEl]="hostEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="port">
        Port
      </label>
      <div class="col-md-9">
        <input type="number" class="form-control" name="port" id="port" required [(ngModel)]="emailSetup.port"
          #portModel="ngModel" #portEl />
        <abp-validation-summary [control]="portModel" [controlEl]="portEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="emailSenderName">
        Sender Name
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="emailSenderName" id="emailSenderName" required maxlength="100"
          [(ngModel)]="emailSetup.emailSenderName" #emailSenderNameModel="ngModel" #emailSenderNameEl />
        <abp-validation-summary [control]="emailSenderNameModel" [controlEl]="emailSenderNameEl">
        </abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="password">
        Password
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="password" id="password" required maxlength="100"
          [(ngModel)]="emailSetup.password" #passwordModel="ngModel" #passwordEl />
        <abp-validation-summary [control]="passwordModel" [controlEl]="passwordEl"></abp-validation-summary>
      </div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createEmailSetupModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
