@each $name, $size in $font-sizes {
  .font-size-#{"" + $name} {
    font-size: $size !important;
  }
}

@each $name, $weight in $font-weights {
  .font-#{"" + $name} {
    font-weight: $weight !important;
  }
}

@each $name, $color in $colors {
  .bg-#{"" + $name} {
    background: $color !important;
  }

  .color-#{"" + $name} {
    color: $color !important;
  }
}

@each $name, $color in $status-colors {
  .status-#{"" + $name} {
    background-color: rgba($color: $color, $alpha: 0.15);
    color: $color;
  }

  .status-circle--#{"" + $name} {
    background-color: $color;
  }
}
