<form class="form-horizontal" autocomplete="off" #viewFeesCalculationModal="ngForm">
  <abp-modal-header title="View Matrics" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="start">
        Start
      </label>
      <div class="col-md-9">
        <label class="form-control">
          {{feesCalculation.start}}
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="end">
        End
      </label>
      <div class="col-md-9">
        <label class="form-control">
          {{feesCalculation.end}}
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="fee">
        Fee
      </label>
      <div class="col-md-9">
        <label class="form-control">
          {{feesCalculation.fee}}
        </label>
      </div>
    </div>
    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "IsActive" | localize }}
      </label>
      <div class="col-md-9">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" disabled name="isActive" id="isActive"
            [(ngModel)]="feesCalculation.isActive" />
          <label class="custom-control-label mt-2" for="isActive"></label>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-cancel-footer (onCancelClick)="bsModalRef.hide()"></abp-modal-cancel-footer>
</form>