<ngx-ui-loader text="Please wait..." textColor="#ffffff"></ngx-ui-loader>
<form class="form-horizontal" autocomplete="off" #editLgaModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header title="Edit Lga" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-3 col-form-label">
        Country
      </label>
      <div class="col-md-9">
        <p-dropdown required [options]="countries" [filter]="true" [showClear]="true" dataKey="id"
          (onChange)="onChange($event)" optionLabel="name" [(ngModel)]="selectedCountry" id="countryId" name="countryId"
          #countryIdModel="ngModel" #countryIdEl placeholder="--Select Country--" styleClass="w-100">
        </p-dropdown>
        <!-- <abp-validation-summary [control]="countryIdModel" [controlEl]="countryIdEl"></abp-validation-summary> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="lga.stateId">
        State
      </label>
      <div class="col-md-9">
        <p-dropdown required [options]="states" [filter]="true" [showClear]="true" dataKey="id" optionLabel="name"
          [(ngModel)]="selectedState" (onChange)="onChangeState($event)" id="stateId" name="stateId"
          #stateIdModel="ngModel" #stateIdEl placeholder="--Select State--" styleClass="w-100">
        </p-dropdown>
        <!-- <abp-validation-summary [control]="stateIdModel" [controlEl]="stateIdEl"></abp-validation-summary> -->
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        Lga Name
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="name" id="name" required maxlength="100" [(ngModel)]="lga.name"
          #nameModel="ngModel" #nameEl />
        <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label" for="isActive">
        {{ "IsActive" | localize }}
      </label>
      <div class="col-md-9">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="isActive" id="isActive"
            [(ngModel)]="lga.isActive" />
          <label class="custom-control-label mt-2" for="isActive"></label>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editLgaModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>