﻿<ngx-ui-loader text="Loading..." textColor="#ffffff"></ngx-ui-loader>
<div [@routerTransition] class="dashboard">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row justify-content-between align-items-start">
        <div>
          <h1 class="heading">{{ "Dashboard" | localize }}</h1>
          <p class="paragraph">Hello {{ organization }},</p>
        </div>

        <button pButton type="button" icon="pi pi-plus" class="button button--primary" iconPos="left"
          label="New Application" *ngIf="isGranted('CreateApplication')" (click)="toggleDialog()"></button>
      </div>
    </div>
  </section>

  <section class="px-4 content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <a (click)="filterApplications('Escalated')">
            <p-card class="card card--red">
              <div class="card-header">
                <h3 class="card__title">Action Required</h3>
              </div>
              <div class="card-body">
                <p class="card__text">{{ escalationCount }}</p>
              </div>
            </p-card>
          </a>
        </div>
        <div class="col-lg-3 col-6">
          <a (click)="filterApplications('Pending')">
            <p-card class="card card--orange">
              <div class="card-header">
                <h3 class="card__title">In Progress</h3>
              </div>
              <div class="card-body">
                <p class="card__text">{{ pendingCount }}</p>
              </div>
            </p-card>
          </a>
        </div>
        <div class="col-lg-3 col-6">
          <a (click)="filterApplications('Approved')">
            <p-card class="card card--green">
              <div class="card-header">
                <h3 class="card__title">Approved</h3>
              </div>
              <div class="card-body">
                <p class="card__text">{{ approvedCount }}</p>
              </div>
            </p-card>
          </a>
        </div>

        <div class="col-lg-3 col-6">
          <a (click)="filterApplications('Denied')">
            <p-card class="card card--green">
              <div class="card-header">
                <h3 class="card__title">Rejected</h3>
              </div>
              <div class="card-body">
                <p class="card__text">{{ declinedCount }}</p>
              </div>
            </p-card>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="px-4 py-2 bg-white content">
    <div class="container-fluid">
      <p-table #dt [columns]="cols" class="table" [rows]="10" [rowHover]="true" [paginator]="true" [loading]="loading"
        dataKey="id" [value]="summary" [globalFilterFields]="[
          'nameOfIssuer',
          'description',
          'applicationStatus'
        ]">
        <ng-template pTemplate="caption">
          <div class="table-header p-grid">
            <div class="text-left p-col-4">
              <span class="mb-0 heading">{{
                "Application Summary" | localize
                }}</span>
            </div>

            <div class="p-col-8">
              <button pButton type="button" icon="pi pi-file-excel"
                class="mr-2 button button--outlined button--outlined-grey" iconPos="left" label="Save CSV"></button>
              <button pButton type="button" icon="pi pi-file-pdf"
                class="mr-2 button button--outlined button--outlined-grey" iconPos="left" label="Save PDF"></button>
              <span class="p-input-icon-left table-search">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Search Application" />
              </span>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr class="numbered-header">
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>

          <tr>
            <th></th>
            <th></th>
            <th>
              <input pInputText type="text" (input)="
                  dt.filter($event.target.value, 'nameOfIssuer', 'contains')
                " placeholder="Search by Issuer" class="p-column-filter form-control" />
            </th>
            <th>
              <input pInputText type="text" (input)="
                  dt.filter($event.target.value, 'description', 'contains')
                " placeholder="Search by Application" class="p-column-filter form-control" />
            </th>
            <th>
              <p-calendar (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'date', 'equals')"
                [showButtonBar]="true" styleClass="form-calendar" placeholder="Date" [readonlyInput]="true"
                dateFormat="mm-dd-yy"></p-calendar>
            </th>
            <th>
              <p-dropdown [options]="statusOptions" (onChange)="
                  dt.filter($event.value, 'applicationStatusText', 'equals')
                " styleClass="p-column-filter" placeholder="Select a Status" [showClear]="true">
                <ng-template let-option pTemplate="item">
                  <span [class]="'table-status status-' + status[option.value]">{{ option.label }}</span>
                </ng-template>
              </p-dropdown>
            </th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-column let-rowIndex="rowIndex">
          <tr class="p-selectable-row">
            <td>
              {{ rowIndex + 1 }}
            </td>
            <td>
              {{ column.appVersionRef }}
            </td>
            <td style="white-space: nowrap">
              <!-- <span [class]="
                  'table-circle status-circle--' +
                  status[column.status.toLowerCase()]
                "></span> -->
              {{ column.nameOfIssuer }}
            </td>
            <td>
              {{ column.description }}
            </td>
            <td>
              {{ column.dateCreated | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              <!-- [class]="
                  'table-status status-' + status[column.status.toLowerCase()] -->
              <span [class]="
                  'table-status status-' + status[column.applicationStatusText]
                ">{{ column.applicationStatusText }}</span>
            </td>
            <td>
              <p-splitButton label="Action" [model]="getMenuItemsForApplications(column)"
                styleClass="p-button-secondary table-action">
              </p-splitButton>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>
  <app-assign-application-dialog (onClose)="toggleAssignDialog()" [(visible)]="displayAssign" [(applicationTypeId)]="selectedAppTypeId"
    [(applicationId)]="selectedAppId" (getApplications)="getApplications()"></app-assign-application-dialog>
  <app-application-dialog (onClose)="toggleDialog()" [(visible)]="display"></app-application-dialog>
  <app-version-dialog [(visible)]="displayVersion" [(data)]="applicationVersion"></app-version-dialog>
  <p-dialog [(visible)]="displayApplicationStatusDialog" position="center" [modal]="true" styleClass="default-modal">
    <p-header class=""> Application Status </p-header>

    <div class="default-modal-body">
      <div class="form-group">
        <p-dropdown [options]="updatetatusOptions" [placeholder]="selectedAppStatus" [(ngModel)]="selectedAppStatus"
          optionLabel="label" styleClass="w-100">
          <ng-template let-option pTemplate="item">
            <span [class]="'table-status status-' + status[option.label]">{{
              option.label
              }}</span>
          </ng-template>
        </p-dropdown>
      </div>

      <div class="pt-4 pb-4 text-center">
        <button pButton type="button" icon="pi pi-plus" class="button button--green" iconPos="left"
          label="Update Status" (click)="updateApplicationStatus()"></button>
      </div>
    </div>
  </p-dialog>
  <p-dialog [(visible)]="printAppDialog" [transitionOptions]="'0ms'">
    <review [(applicationTypeId)]="selectedAppTypeId" [(applicationId)]="selectedAppId"
      [(listingTypeId)]="selectedListingTypeId" [(printApp)]="printAppDialog"></review>
  </p-dialog>
</div>
