/* .input-button {
  max-width: 250px;
} */
.p-button-danger {
  border: 1px solid #d32f2f;
  background: #d32f2f;
  color: #ffffff;
}
.p-button.p-button-danger:enabled:hover,
.p-buttonset.p-button-danger > .p-button:enabled:hover,
.p-splitbutton.p-button-danger > .p-button:enabled:hover {
  background: #c02929;
  color: #ffffff;
  border-color: #c02929;
}
.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
}
.ui-button-text.ui-clickable {
  margin-left: 5px !important;
}
.p-button-success .ui-button-text {
  margin-left: 0.5rem;
}
.p-button-success {
  color: #ffffff;
  background: #689f38;
  border: 1px solid #689f38;
}

.upload {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #6c757d;
  margin: 3rem 0;
  padding: 5rem;
}
.document-list {
  margin: 3rem 0;
}
.document-list h3 {
  margin-bottom: 2rem;
  color: #8c9117;
}
.table .ui-table-tbody > tr > td {
  border: none !important;
}
small {
  color: #ffc107;
}
