<ngx-ui-loader text="Loading..." textColor="#ffffff"></ngx-ui-loader>
<div class="application-tab document">
  <div class="application-info">
    <p></p>
    <h3 class="text-center heading">Upload Documents</h3>
    <h5 class="text-center">
      Name of Issuer: {{ applicationData?.nameOfIssuer }}
    </h5>
    <h5 class="text-center">Description: {{ applicationData?.description }}</h5>
  </div>

  <section class="px-4 py-1 bg-white content p-shadow-1">
    <div class="container-fluid">
      <div class="upload">
        <p-table
          #dt
          [columns]="cols"
          class="table"
          [rows]="10"
          [rowHover]="true"
          [paginator]="false"
          [loading]="loading"
          dataKey="id"
          [value]="requiredDocuments"
        >
          <ng-template pTemplate="body" let-document let-rowIndex="rowIndex">
            <tr class="p-selectable-row">
              <td style="white-space: nowrap" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      type="text"
                      [(ngModel)]="requiredDocuments[rowIndex].name"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ document.name }}
                    <small> <br />** click to edit file name</small>
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <input
                  pButton
                  type="file"
                  icon="pi pi-upload"
                  class="button button--grey input-button"
                  iconPos="left"
                  label="Upload"
                  accept=".png,.jpg,.jpeg,.pdf,.doc,.docx,.xls,.xlsx,"
                  (change)="fileChangeEvent($event.target.files, document)"
                  *ngIf="!document.document"
                />
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="mt-4 mb-5 text-right w-100">
        <button
          pButton
          type="button"
          class="mr-3 button button--outlined button--outlined-primary"
          label="Back"
          (click)="handlePrev()"
        ></button>

        <button
          pButton
          type="submit"
          [disabled]="submitting"
          class="button button--primary"
          label="Upload Document"
          (click)="processDocument()"
        ></button>
      </div>

      <div class="document-list">
        <h3>Document List</h3>
        <p *ngFor="let doc of documents; let i = index">
          {{ i + 1 }}. &nbsp; {{ doc.fileName }}
          <a [href]="doc.filePath" target="_blank"
            ><i class="pi pi-window-maximize color-red ml-2"></i
          ></a>
        </p>
      </div>
    </div>
  </section>
  <section class="px-4 py-1 bg-white content p-shadow-1">
    <div class="container-fluid"></div>
  </section>
</div>
