<p-dialog
  [(visible)]="visible"
  position="center"
  [modal]="true"
  styleClass="default-modal"
  (onHide)="closeModal()"
  appendTo="body"
  [dismissableMask]="true"


>
  <p-header class="">
    Assign Application
  </p-header>

  <div class="default-modal-body">
    <div class="form-group">
      <div class="form__label">Who do you want to asssign this to?</div>

      <p-dropdown
        [options]="listingAnalysts"
        [(ngModel)]="selectedValue"
        placeholder="--Select--"
        optionLabel="label"
        styleClass="w-100"
      ></p-dropdown>
    </div>

    <!-- <div class="form-group">
      <div class="form__label">Select Officer</div>
      <p-dropdown
        [options]="arr"
        [(ngModel)]="selectedValue"
        placeholder="--Select--"
        optionLabel="label"
        styleClass="w-100"
      ></p-dropdown>
    </div> -->

    <div class="text-center pb-4 pt-4">
      <button
        pButton
        type="button"
        icon="pi pi-plus"
        class="button button--green"
        iconPos="left"
        label="Assign"
        (click)="assignApplication()"
      ></button>
    </div>
  </div>
</p-dialog>
