﻿<!-- <ngx-ui-loader text="Please wait..." textColor="#ffffff"></ngx-ui-loader>
<div class="xpo-content">
    <div class="container">
        <div class="xpo-content-left xpo-content-left-invoice">
            <div class="xpo-content-breadcrumb lh-1 mg-b-2">
                <span>Apps &amp; Pages</span>
                <span>Invoice</span>
            </div>
            <h2 class="xpo-content-title tx-24 mg-b-25">My Invoices</h2>
        </div>
        <div class="xpo-content-body xpo-content-body-invoice">
            <div class="card card-invoice">
                <div class="card-body">
                    <div class="invoice-header">
                        <h1 class="invoice-title">Invoice</h1>
                    </div>
                    <div class="row mg-t-20">
                        <div class="col-md">
                            <label class="tx-gray-600">Billed To</label>
                            <div class="billed-to">
                                <h6>{{obj.fullName}}</h6>
                                <p>
                                    Tel No: {{obj.phoneNumber}}<br>
                                    Email: {{obj.email}}
                                </p>
                            </div>
                        </div>
                        <div class="col-md">
                            <label class="tx-gray-600">Invoice Information</label>
                            <p class="invoice-info-row">
                                <span>Transaction Reference</span>
                                <span
                                    class="dt-status-md badge badge badge-danger badge-md tx-14">{{obj.transactionRef}}</span>
                            </p>
                            <p class="invoice-info-row">
                                <span>Project ID</span>
                                <span>{{obj.projectId}}</span>
                            </p>
                            <p class="invoice-info-row">
                                <span>Issue Date:</span>
                                <span>{{obj.transactionDate|date:'fullDate'}}</span>
                            </p>

                        </div>
                    </div>

                    <div class="table-responsive mg-t-40">
                        <table class="table table-invoice">
                            <thead>
                                <tr>
                                    <th class="wd-20p">Type</th>
                                    <th class="wd-40p">Description</th>
                                    <th class="tx-center">QTY</th>
                                    <th class="tx-right">Unit Price</th>
                                    <th class="tx-right">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img [src]="obj.logoUrl" alt="" class="xpo-img-logo">
                                        {{obj.issuingCompanyName}}</td>
                                    <td class="tx-12">{{obj.poDescription}}</td>
                                    <td class="tx-center">{{obj.numberOfUnits|number}}</td>
                                    <td class="tx-right">{{obj.unitPrice}}</td>
                                    <td class="tx-right">{{obj.subscriptionAmount}}</td>
                                </tr>

                                <tr>
                                    <td colspan="2" rowspan="4" class="valign-middle">
                                        <div class="invoice-notes">
                                            <label class="xpo-content-label tx-13">Notes</label>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                                                ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                                explicabo. </p>
                                        </div>
                                    </td>
                                    <td class="tx-right">Sub-Total</td>
                                    <td colspan="2" class="tx-right">{{obj.totalAmt}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tx-right">Transaction Charge(s)</td>
                                    <td colspan="2" class="tx-right">
                                        {{obj.totalAmt}}</td>
                                </tr>

                                <tr>
                                    <td class="tx-right tx-uppercase tx-bold tx-inverse">Total Due</td>
                                    <td colspan="2" class="tx-right">
                                        <h4 class="tx-primary tx-bold">{{obj.totalAmt}}</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <hr class="mg-b-40">
                    <form name="form1" action="" (ngSubmit)="onSubmit($event)" method="POST">
                        <input name="amount" type="hidden" value="{{webPayModel.amount}}" />
                        <input name="currency" type="hidden" value="{{webPayModel.currency}}" />
                        <input name="site_redirect_url" type="hidden" value="{{webPayModel.returnUrl}}" />
                        <input name="txn_ref" type="hidden" value="{{webPayModel.refCode}}" />
                        <input name="cust_id" type="hidden" value="{{webPayModel.custId}}" />
                        <input name="cust_name" type="hidden" value="{{webPayModel.custName}}" />
                        <input name="hash" type="hidden" value="{{webPayModel.hashedValue}}" />
                        <button class="btn btn-primary btn-block" type="submit">Pay Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->
<ngx-ui-loader text="Please wait..." textColor="#ffffff"></ngx-ui-loader>
<section class="content-header bg-white  p-5">
    <div class="container text-center">
        <div class="document shadow p-5 border border-secondary">
            <h3 class="heading">Application Confirmation & Payment</h3>
            <div class="application-info">
                Kindly confirm that all the information provided below is correct before proceeding to pay.
            </div>
            <div class=" text-capitalize my-4 font-weight-light text-nse"> APPLICATION SUMMARY </div>
            <div class="row justify-content-center mb-3 pl-5">
                <div class="col-md-6 text-left">
                    <p class="paragraph mb-0">Transaction Ref: </p>
                    <p class="paragraph font-bold"> {{webPayModel.tranactionRef}}</p>
                </div>
                <div class="col-md-6 text-left ">
                    <p class="paragraph mb-0">Unique Application ID: </p>
                    <p class="paragraph font-bold"> {{webPayModel.appId}}</p>
                </div>
            </div>
            <div class="row justify-content-between mb-3 pl-5">
                <div class="col-md-6 text-left">
                    <p class="paragraph mb-0">Application Name: </p>
                    <p class="paragraph font-bold"> {{webPayModel.applicationName}}</p>
                </div>
                <div class="col-md-6 text-left">
                    <p class="paragraph mb-0">Application Category: </p>
                    <p class="paragraph font-bold"> {{webPayModel.applicationCategory}}</p>
                </div>
            </div>
            <div class="row justify-content-between mb-3 pl-5">
                <div class="col-md-6 text-left">
                    <p class="paragraph mb-0">Application Type: </p>
                    <p class="paragraph font-bold"> {{webPayModel.applicationType}}</p>
                </div>
                <div class="col-md-6 text-left ">
                    <p class="paragraph mb-0 ">Listing Type:</p>
                    <p class="paragraph font-bold">{{webPayModel.listingType}}</p>
                </div>
            </div>
            <div class="row justify-content-between mb-3 pl-5">
                <div class="col-md-6 text-left">
                    <p class="paragraph mb-0">Brokers' Name: </p>
                    <p class="paragraph font-bold"> {{webPayModel.brokerName}}</p>
                </div>
                <div class="col-md-6 text-left ">
                    <p class="paragraph mb-0 ">Submitted By:</p>
                    <p class="paragraph font-bold">{{webPayModel.organizationName}}</p>
                </div>
            </div>
            <div class="row justify-content-between mb-3 pl-5">
                <div class="col-md-6 text-left">
                    <p class="paragraph mb-0">Issuer Name: </p>
                    <p class="paragraph font-bold"> {{webPayModel.nameOfIssuer}}</p>
                </div>
                <div class="col-md-6 text-left ">
                    <p class="paragraph mb-0 ">Transaction Date:</p>
                    <p class="paragraph font-bold">{{webPayModel.transactionDate | date:'MMM-dd-yyyy'}}</p>
                </div>
            </div>
            <div class="row justify-content-between mb-3 pl-5">
                <div class="col-md-6 text-left">
                    <p class="paragraph mb-0">Application Fee: </p>
                    <p class="paragraph font-bold"> {{webPayModel.applicationFee|currency:'₦':'symbol'}}</p>
                </div>
                <div class="col-md-6 text-left ">
                    <p class="paragraph mb-0 ">Listing Fee:</p>
                    <p class="paragraph font-bold">{{webPayModel.listingFee|currency:'₦':'symbol'}}</p>
                </div>
            </div>
            <div class="row justify-content-between mb-3 pl-5">
                <div class="col-md-6 text-left">
                    <p class="paragraph mb-0">Other charges: </p>
                    <p class="paragraph font-bold"> {{webPayModel.nseFee|currency:'₦':'symbol'}}</p>
                </div>
                <div class="col-md-6 text-left ">
                    <p class="paragraph mb-0 ">Total:</p>
                    <p class="paragraph font-bold">{{webPayModel.actualAmount|currency:'₦':'symbol'}}</p>
                </div>
            </div>
            <hr />
            <div class="row text-center justify-content-center mb-3 ">
                <div class="col-md-6 shadow-md ">
                    <p class="paragraph mb-0">Total Amount to Pay: </p>
                    <h3 class="font-bold text-nse"> {{webPayModel.actualAmount|currency:'₦':'symbol'}}</h3>
                </div>
            </div>
            <div class="text-small" style="font-size: smaller; font-weight: 200; font-style: italic;">
                By proceeding to pay, you have accepted all the terms and conditions. Please ensure the right mode of
                payment is used and rest assured your data will not be shared with any 3rd party
            </div>
            <div class="my-5">
                <form name="form1" action="{{webPayModel.postPaymentUrl}}" (ngSubmit)="onSubmit($event)" method="POST">
                    <input name="apptransid" type="hidden" value="{{webPayModel.tranactionRef}}" />
                    <input name="Appid" type="hidden" value="{{webPayModel.appId}}" />
                    <input name="amt" type="hidden" value="{{webPayModel.amount}}" />
                    <input name="cur" type="hidden" value="{{webPayModel.currency}}" />
                    <input name="fname" type="hidden" value="{{webPayModel.firstName}}" />
                    <input name="lname" type="hidden" value="{{webPayModel.lastName}}" />
                    <input name="Phone" type="hidden" value="{{webPayModel.phoneNumber}}">
                    <input name="iscorp" type="hidden" value="{{webPayModel.isCorporate}}" />
                    <input name="corpname" type="hidden" value="{{webPayModel.organizationName}}" />
                    <input name="email" type="hidden" value="{{webPayModel.email}}" />
                    <input name="hshcde" type="hidden" value="{{webPayModel.hashedValue}}" />
                   <span style="padding-right: 10px;"> <button pButton type="button" class="button button--primary" (click)="payOffline()">Proceed to pay offline
                            {{webPayModel.amount|currency:'₦':'symbol'}}</button></span>
                        <button pButton type="submit" class="button button--default">Proceed to pay online
                        {{webPayModel.amount|currency:'₦':'symbol'}}</button>
                </form>
            </div>
        </div>
    </div>
</section>