<div class="application-tab application-section information">
  <div class="application-section-nav">
    <ul class="application-section-nav-inner">
      <li *ngFor="let item of applicationData; index as i">
        <span (click)="scrollTo('section' + [i + 1])" [ngClass]="{ active: currentSection === 'section' + [i + 1] }">{{
          i + 1 }}. {{ item.name }}</span>
      </li>
    </ul>
  </div>

  <div id="parentDiv" class="application-section-body" scrollSpy [spiedTags]="['DIV']"
    (sectionChange)="onSectionChange($event)" [ngStyle]="{
      'max-height.px': screenHeight
        ? screenHeight - (75 + 55 + 125 + 40)
        : 'auto'
    }">
    <!--  section 1 -->
    <form class="form-horizontal" autocomplete="off" #createForm="ngForm"
      (ngSubmit)="createForm.valid && saveApplication()" novalidate>
      <div class="text-right w-100">
        <button pButton type="submit" icon="pi pi-save" class="mr-4 button button--blue" iconPos="left"
          label="Save Progress"></button>
        <button pButton type="button" [disabled]="submitting" class="button button--primary"
          (click)="createForm.valid && handleOpenNext()" label="Go to Application Checklist"></button>
      </div>
      <div *ngFor="let section of applicationData; index as i" class="section" id="section{{ i + 1 }}">
        <h3 class="heading">{{ i + 1 }}. {{ section.name }}</h3>

        <!--start all forms -->

        <div class="row justify-content-between">
          <!-- [ngClass]="{'col-md-12': field.fieldType == 'dropdown'}" -->
          <div class="col-12" [ngClass]="[
              field.fieldType == 'textarea' ||
              field.fieldType == 'sub-section' ||
              field.fieldType == 'table' ||
              field.fieldType == 'sub-sub-section'
                ? 'col-md-12'
                : 'col-md-6'
            ]" *ngFor="let field of section.fields" [ngSwitch]="field.fieldType">
            <div class="form-group" *ngSwitchCase="'input'">
              <label class="form__label" [for]="field.name">{{ field.label }}<span
                  *ngIf="field.required">*</span></label>
              <input type="text" [id]="field.name" pInputText class="form-control" [(ngModel)]="payload[field.name]"
                [name]="field.name + i" [required]="field.required" />
              <div *ngIf="createForm.submitted" class="invalid-feedback">
                <div>{{ field.label }} is required</div>
              </div>
            </div>

            <div class="form-group" *ngSwitchCase="'number'">
              <label class="form__label" [for]="field.name">{{ field.label }}<span
                  *ngIf="field.required">*</span></label>
              <p-inputNumber [minFractionDigits]="2" [maxFractionDigits]="5"
                *ngIf="field.format == 'currency' && field.format != 'decimal'" [(ngModel)]="payload[field.name]"
                currency="NGN" locale="en-NG" mode="currency" [name]="field.name + i" [required]="field.required"
                (ngModelChange)="doFormLogic(field?.logics)"></p-inputNumber>
              <p-inputNumber *ngIf="field.format == 'decimal' && field.format != 'currency'"
                [(ngModel)]="payload[field.name]" [name]="field.name + i" mode="decimal" [minFractionDigits]="2"
                [maxFractionDigits]="5" [required]="field.required" (ngModelChange)="doFormLogic(field?.logics)">
              </p-inputNumber>
              <p-inputNumber *ngIf="field.format != 'currency' && field.format != 'decimal'"
                [(ngModel)]="payload[field.name]" mode="decimal" [name]="field.name + i" [required]="field.required"
                (ngModelChange)="doFormLogic(field?.logics)"></p-inputNumber>
              <!-- <ng-template #default>
              </ng-template> -->
              <div *ngIf="createForm.submitted" class="invalid-feedback">
                <div>{{ field.label }} is required</div>
              </div>
            </div>

            <div class="form-group" *ngSwitchCase="'date'">
              <label class="form__label" [for]="field.name">{{ field.label }}<span
                  *ngIf="field.required">*</span></label>
              <p-calendar [(ngModel)]="payload[field.name]" [name]="field.name + i" dataType="string"
                [showButtonBar]="true" placeholder="Date" [readonlyInput]="true" dateFormat="yy-mm-dd" class="calendar"
                [required]="field.required"></p-calendar>
              <div *ngIf="createForm.submitted" class="invalid-feedback">
                <div>{{ field.label }} is required</div>
              </div>
            </div>

            <div class="form-group" *ngSwitchCase="'textarea'">
              <label class="form__label" [for]="field.name">{{ field.label }}<span
                  *ngIf="field.required">*</span></label>
              <div class="mx-2 application-info" *ngIf="field.description">
                <p>{{ field.description }}</p>
              </div>
              <textarea *ngIf="field.tooltip; else default" pInputTextarea class="form-control" [id]="field.name"
                rows="6" [(ngModel)]="payload[field.name]" [name]="field.name + i" pTooltip="{{ field.tooltip }}"
                tooltipPosition="top" tooltipEvent="focus" [required]="field.required"></textarea>
              <ng-template #default>
                <textarea pInputTextarea class="form-control" [id]="field.name" rows="6"
                  [(ngModel)]="payload[field.name]" [name]="field.name + i" [required]="field.required"></textarea>
              </ng-template>
              <div *ngIf="createForm.submitted" class="invalid-feedback">
                <div>{{ field.label }} is required</div>
              </div>
            </div>

            <div class="form-group" *ngSwitchCase="'dropdown'">
              <label class="form__label" [for]="field.name">{{ field.label }}<span
                  *ngIf="field.required">*</span></label>
              <p-dropdown [options]="field.options" placeholder="--Select--" dataKey="value" optionLabel="label"
                styleClass="w-100" *ngIf="field.dropdownOutput == 'object'" [(ngModel)]="payload[field.name]"
                [name]="field.name + i" [required]="field.required">
              </p-dropdown>
              <select *ngIf="field.dropdownOutput == 'string'" class="form-control" styleClass="w-100"
                [(ngModel)]="payload[field.name]" [name]="field.name + i" [required]="field.required">
                <option *ngFor="let item of field.options" [value]="item">
                  {{ item }}
                </option>
              </select>
              <div *ngIf="createForm.submitted" class="invalid-feedback">
                <div>{{ field.label }} is required</div>
              </div>
            </div>

            <div class="form-group" *ngSwitchCase="'sub-section'">
              <h3 class="heading" style="width: 100%">{{ field.label }}</h3>
              <!-- SUB FIELDS -->
              <div class="row justify-content-between">
                <div *ngFor="let subField of field.subSection" class="col-12" [ngClass]="[
                    subField.fieldType == 'textarea' ||
                    subField.fieldType == 'sub-sub-section'
                      ? 'col-md-12'
                      : 'col-md-6'
                  ]" [ngSwitch]="subField.fieldType">
                  <div class="form-group" *ngSwitchCase="'input'">
                    <label class="form__label" [for]="subField.name">{{ subField.label
                      }}<span *ngIf="subField.required">*</span></label>
                    <input type="text" [id]="subField.name" pInputText class="form-control"
                      [(ngModel)]="payload[subField.name]" [name]="subField.name + i" [required]="subField.required" />
                    <div *ngIf="createForm.submitted" class="invalid-feedback">
                      <div>{{ subField.label }} is required</div>
                    </div>
                  </div>

                  <div class="form-group" *ngSwitchCase="'number'">
                    <label class="form__label" [for]="subField.name">{{ subField.label
                      }}<span *ngIf="subField.required">*</span></label>

                    <p-inputNumber [minFractionDigits]="2" [maxFractionDigits]="5" *ngIf="
                        subField.format == 'currency' &&
                        subField.format != 'decimal'
                      " [(ngModel)]="payload[subField.name]" currency="NGN" locale="en-NG" mode="currency"
                      [name]="subField.name + i" [required]="subField.required"
                      (ngModelChange)="doFormLogic(subField?.logics)"></p-inputNumber>
                    <p-inputNumber [minFractionDigits]="2" [maxFractionDigits]="5" *ngIf="
                        subField.format == 'decimal' &&
                        subField.format != 'currency'
                      " [(ngModel)]="payload[subField.name]" [name]="subField.name + i" mode="decimal"
                      [minFractionDigits]="2" [maxFractionDigits]="5" [required]="subField.required"
                      (ngModelChange)="doFormLogic(subField?.logics)">
                    </p-inputNumber>
                    <p-inputNumber *ngIf="
                        subField.format != 'currency' &&
                        subField.format != 'decimal'
                      " [(ngModel)]="payload[subField.name]" mode="decimal" [name]="subField.name + i"
                      [required]="subField.required" (ngModelChange)="doFormLogic(subField?.logics)"></p-inputNumber>

                    <!-- <p-inputNumber
                      *ngIf="subField.format == 'currency'; else default"
                      [(ngModel)]="payload[subField.name]"
                      currency="NGN"
                      locale="en-NG"
                      mode="currency"
                      [name]="subField.name + i"
                      [required]="subField.required"
                    ></p-inputNumber>
                    <ng-template #default>
                      <p-inputNumber
                        [(ngModel)]="payload[subField.name]"
                        mode="decimal"
                        [name]="subField.name + i"
                        [required]="subField.required"
                      ></p-inputNumber>
                    </ng-template> -->
                    <div *ngIf="createForm.submitted" class="invalid-feedback">
                      <div>{{ subField.label }} is required</div>
                    </div>
                  </div>

                  <div class="form-group" *ngSwitchCase="'date'">
                    <label class="form__label" [for]="subField.name">{{ subField.label
                      }}<span *ngIf="subField.required">*</span></label>
                    <p-calendar [(ngModel)]="payload[subField.name]" [name]="subField.name + i" dataType="string"
                      [showButtonBar]="true" placeholder="Date" [readonlyInput]="true" dateFormat="yy-mm-dd"
                      class="calendar" [required]="subField.required"></p-calendar>
                    <div *ngIf="createForm.submitted" class="invalid-feedback">
                      <div>{{ subField.label }} is required</div>
                    </div>
                  </div>

                  <div class="form-group" *ngSwitchCase="'textarea'">
                    <label class="form__label" [for]="subField.name">{{ subField.label
                      }}<span *ngIf="subField.required">*</span></label>
                    <div class="mx-2 application-info" *ngIf="subField.description">
                      <p>{{ subField.description }}</p>
                    </div>
                    <textarea pInputTextarea class="form-control" [id]="subField.name" rows="6"
                      [(ngModel)]="payload[subField.name]" [name]="subField.name + i"
                      [required]="subField.required"></textarea>
                    <div *ngIf="createForm.submitted" class="invalid-feedback">
                      <div>{{ subField.label }} is required</div>
                    </div>
                  </div>

                  <div class="form-group" *ngSwitchCase="'dropdown'">
                    <label class="form__label" [for]="subField.name">{{ subField.label
                      }}<span *ngIf="subField.required">*</span></label>
                    <p-dropdown [options]="subField.options" placeholder="--Select--" dataKey="value"
                      optionLabel="label" styleClass="w-100" *ngIf="subField.dropdownOutput == 'object'"
                      [(ngModel)]="payload[subField.name]" [name]="subField.name + i" [required]="subField.required">
                    </p-dropdown>
                    <select *ngIf="subField.dropdownOutput == 'string'" class="form-control" styleClass="w-100"
                      [(ngModel)]="payload[subField.name]" [name]="subField.name + i" [required]="subField.required">
                      <option *ngFor="let item of subField.options" [value]="item">
                        {{ item }}
                      </option>
                    </select>
                    <div *ngIf="createForm.submitted" class="invalid-feedback">
                      <div>{{ subField.label }} is required</div>
                    </div>
                  </div>

                  <!-- SUB SUB FIELDS -->

                  <!-- <div
                    *ngIf="subField.fieldType == 'sub-sub-section'"
                    class="row justify-content-between"
                  >
                    <div
                      *ngFor="let subSubField of subField.subSubSection"
                      class="col-12"
                      [ngClass]="[
                        subSubField.fieldType == 'textarea'
                          ? 'col-md-12'
                          : 'col-md-6'
                      ]"
                    >
                      <label class="form__label" [for]="subField.name"
                        >{{ subSubField.label
                        }}<span *ngIf="subSubField.required">*</span></label
                      >
                      <div
                        class="mx-2 application-info"
                        *ngIf="subSubField.description"
                      >
                        <p>{{ subSubField.description }}</p>
                      </div>
                      <input
                        type="text"
                        [id]="subField.name"
                        pInputText
                        class="form-control"
                        *ngIf="subSubField.fieldType == 'input'"
                        [(ngModel)]="payload[subSubField.name]"
                        [name]="subSubField.name + i"
                        [required]="subSubField.required"
                      />
                      <input
                        type="Number"
                        [id]="subField.name"
                        pInputText
                        class="form-control"
                        *ngIf="subSubField.fieldType == 'number'"
                        [(ngModel)]="payload[subSubField.name]"
                        [name]="subSubField.name + i"
                        [required]="subSubField.required"
                      />
                      <p-dropdown
                        [options]="subSubField.options"
                        placeholder="--Select--"
                        optionLabel="label"
                        styleClass="w-100"
                        *ngIf="field.fieldType == 'dropdown'"
                        [(ngModel)]="payload[subSubField.name]"
                        [name]="subSubField.name + i"
                        [required]="subSubField.required"
                      ></p-dropdown>
                      <textarea
                        pInputTextarea
                        class="form-control"
                        [id]="subField.name"
                        rows="6"
                        *ngIf="subSubField.fieldType == 'textarea'"
                        [(ngModel)]="payload[subSubField.name]"
                        [name]="subSubField.name + i"
                        [required]="subSubField.required"
                      ></textarea>
                    </div>
                  </div> -->

                  <!--END OF SUB SUB FIELDS -->
                </div>
              </div>
              <!--END OF SUB FIELDS -->
            </div>

            <div class="form-group" *ngSwitchCase="'table'">
              <div class="">
                <div *ngFor="let data of field.data; index as i" class="row justify-content-between" (ngInit)="
                    setPayloadArrayData(field.name, field.data, data.row)
                  ">
                  <div *ngFor="let row of data?.row; index as rowId" class="col-12 col-md-6" [ngSwitch]="row.fieldType">
                    <div class="form-group" *ngSwitchCase="'input'">
                      <label class="form__label" [for]="row.name">{{ row.label
                        }}<span *ngIf="row.required">*</span></label>
                      <input *ngIf="payload[field.name]" type="text" [id]="row?.name" pInputText class="form-control"
                        [(ngModel)]="payload[field.name][i][row.name]" [name]="row?.name + i"
                        [required]="row?.required" />
                      <!-- onKeyUp="if(this.payload[field.name].length !== 0){this.setPayloadArrayData(field.name, field.data, data.row)}" -->
                      <div *ngIf="createForm.submitted" class="invalid-feedback">
                        <div>{{ row.label }} is required</div>
                      </div>
                    </div>

                    <div class="form-group" *ngSwitchCase="'number'">
                      <label class="form__label" [for]="row.name">{{ row.label
                        }}<span *ngIf="row.required">*</span></label>
                      <p-inputNumber [minFractionDigits]="2" [maxFractionDigits]="5"
                        *ngIf="row.format == 'currency'; else default" [(ngModel)]="payload[field.name][i][row.name]"
                        currency="NGN" locale="en-NG" mode="currency" [name]="row.name + i"
                        (ngModelChange)="doFormLogic(row?.logics, field.name)" [required]="row.required">
                      </p-inputNumber>
                      <ng-template #default>
                        <p-inputNumber [minFractionDigits]="2" [maxFractionDigits]="5"
                          [(ngModel)]="payload[field.name][i][row.name]" mode="decimal" [name]="row.name + i"
                          (ngModelChange)="doFormLogic(row?.logics, field.name)" [required]="row.required">
                        </p-inputNumber>
                      </ng-template>
                      <div *ngIf="createForm.submitted" class="invalid-feedback">
                        <div>{{ row.label }} is required</div>
                      </div>
                    </div>

                    <div class="form-group" *ngSwitchCase="'date'">
                      <label class="form__label" [for]="row.name">{{ row.label
                        }}<span *ngIf="row.required">*</span></label>
                      <p-calendar [(ngModel)]="payload[field.name][i][row.name]" [name]="row.name + i" dataType="string"
                        [showButtonBar]="true" placeholder="Date" [readonlyInput]="true" dateFormat="yy-mm-dd"
                        class="calendar" [required]="row.required"></p-calendar>
                      <div *ngIf="createForm.submitted" class="invalid-feedback">
                        <div>{{ row.label }} is required</div>
                      </div>
                    </div>

                    <div class="form-group" *ngSwitchCase="'textarea'">
                      <label class="form__label" [for]="row.name">{{ row.label
                        }}<span *ngIf="row.required">*</span></label>
                      <div class="mx-2 application-info" *ngIf="row.description">
                        <p>{{ row.description }}</p>
                      </div>
                      <textarea pInputTextarea class="form-control" [id]="row.name" rows="6"
                        [(ngModel)]="payload[field.name][i][row.name]" [name]="row.name + i"
                        [required]="row.required"></textarea>
                      <div *ngIf="createForm.submitted" class="invalid-feedback">
                        <div>{{ row.label }} is required</div>
                      </div>
                    </div>

                    <div class="form-group" *ngSwitchCase="'dropdown'">
                      <label class="form__label" [for]="row.name">{{ row.label
                        }}<span *ngIf="row.required">*</span></label>
                      <p-dropdown [options]="row.options" placeholder="--Select--" dataKey="value" optionLabel="label"
                        styleClass="w-100" *ngIf="row.dropdownOutput == 'object'"
                        [(ngModel)]="payload[field.name][i][row.name]" [name]="row.name + i"
                        [required]="field.required">
                      </p-dropdown>
                      <select *ngIf="row.dropdownOutput == 'string'" class="form-control" styleClass="w-100"
                        [(ngModel)]="payload[field.name][i][row.name]" [name]="row.name + i" [required]="row.required">
                        <option *ngFor="let item of row.options" [value]="item">
                          {{ item }}
                        </option>
                      </select>
                      <div *ngIf="createForm.submitted" class="invalid-feedback">
                        <div>{{ row.label }} is required</div>
                      </div>
                    </div>
                    <!-- <span>add</span> -->
                    <!-- <input
                      type="text"
                      [id]="row.name + i"
                      pInputText
                      class="form-control"
                      *ngIf="row.fieldType == 'input'"
                      [(ngModel)]="payload[field.name][i][row.name]"
                      [name]="row.name + i"
                      [required]="row.required"
                    />
                    <input
                      type="Number"
                      [id]="row.name"
                      pInputText
                      class="form-control"
                      *ngIf="row.fieldType == 'number'"
                      [(ngModel)]="payload[field.name][i][row.name]"
                      [name]="row.name + i"
                      [required]="row.required"
                    />
                    <p-dropdown
                      [options]="row.options"
                      placeholder="--Select--"
                      optionLabel="label"
                      styleClass="w-100"
                      *ngIf="field.fieldType == 'dropdown'"
                      [(ngModel)]="payload[field.name][i][row.name]"
                      [name]="row.name + i"
                      [required]="row.required"
                    ></p-dropdown>
                    <textarea
                      pInputTextarea
                      class="form-control"
                      [id]="row.name"
                      rows="6"
                      *ngIf="row.fieldType == 'textarea'"
                      [(ngModel)]="payload[field.name][i][row.name]"
                      [name]="row.name + i"
                      [required]="row.required"
                    ></textarea>
                    <p-calendar
                      [(ngModel)]="payload[field.name][i][row.name]"
                      [name]="row.name + i"
                      dataType="string"
                      *ngIf="row.fieldType == 'date'"
                      [showButtonBar]="true"
                      placeholder="Date"
                      [readonlyInput]="true"
                      dateFormat="yy-mm-dd"
                      class="calendar"
                    ></p-calendar> -->
                  </div>
                  <!-- <span (click)="removeTableField(section, data)">remove</span> -->
                  <div class="text-right w-100">
                    <button pButton type="button" label="  Remove Row" icon="pi pi-times"
                      class="mr-3 p-button-sm p-button-danger" (click)="removeTableField(section, data)"></button>

                    <!-- <button
                      pButton
                      type="button"
                      icon="pi pi-save"
                      [disabled]="submitting"
                      class="mr-3 button button--primary"
                      label="Remove row"
                    ></button> -->
                  </div>
                  <br />
                  <hr />
                </div>
                <!-- <span (click)="addTableField(section)">add</span> -->
                <div class="text-right w-100">
                  <button pButton type="button" label="Add Row" icon="pi pi-plus"
                    class="mt-1 mr-2 p-button-sm p-button-info" (click)="addTableField(section)"></button>
                  <!-- <button
                    pButton
                    type="button"
                    icon="pi pi-save"
                    [disabled]="submitting"
                    class="mt-1 mr-2 button button--blue"
                    (click)="addTableField(section)"
                    label="Add row"
                  ></button> -->
                </div>
                <div *ngFor="let field of field.summary; index as i" class="row justify-content-between">
                  <h3 class="heading" style="width: 100%">{{ field.name }}</h3>
                  <div *ngFor="let row of field.fields; index as rowId" class="col-12 col-md-6"
                    [ngSwitch]="row.fieldType">
                    <div class="form-group" *ngSwitchCase="'input'">
                      <label class="form__label" [for]="row.name">{{ row.label
                        }}<span *ngIf="row.required">*</span></label>
                      <input type="text" [id]="row.name + i" pInputText class="form-control"
                        [(ngModel)]="payload[row.name]" [name]="row.name + i" [required]="row.required" />
                      <div *ngIf="createForm.submitted" class="invalid-feedback">
                        <div>{{ row.label }} is required</div>
                      </div>
                    </div>

                    <div class="form-group" *ngSwitchCase="'number'">
                      <label class="form__label" [for]="row.name">{{ row.label
                        }}<span *ngIf="row.required">*</span></label>
                      <p-inputNumber [minFractionDigits]="2" [maxFractionDigits]="5"
                        *ngIf="row.format == 'currency'; else default" [(ngModel)]="payload[row.name]" currency="NGN"
                        locale="en-NG" mode="currency" [name]="row.name" (ngModelChange)="doFormLogic(row?.logics)"
                        [required]="row.required"></p-inputNumber>
                      <ng-template #default>
                        <p-inputNumber [minFractionDigits]="2" [maxFractionDigits]="5" [(ngModel)]="payload[row.name]"
                          mode="decimal" [name]="row.name" (ngModelChange)="doFormLogic(row?.logics)"
                          [required]="row.required"></p-inputNumber>
                      </ng-template>
                      <div *ngIf="createForm.submitted" class="invalid-feedback">
                        <div>{{ row.label }} is required</div>
                      </div>
                    </div>

                    <div class="form-group" *ngSwitchCase="'date'">
                      <label class="form__label" [for]="row.name">{{ row.label
                        }}<span *ngIf="row.required">*</span></label>
                      <p-calendar [(ngModel)]="payload[row.name]" [name]="row.name + i" dataType="string"
                        [showButtonBar]="true" placeholder="Date" [readonlyInput]="true" dateFormat="yy-mm-dd"
                        class="calendar" [required]="row.required"></p-calendar>
                      <div *ngIf="createForm.submitted" class="invalid-feedback">
                        <div>{{ row.label }} is required</div>
                      </div>
                    </div>

                    <div class="form-group" *ngSwitchCase="'textarea'">
                      <label class="form__label" [for]="row.name">{{ row.label
                        }}<span *ngIf="row.required">*</span></label>
                      <div class="mx-2 application-info" *ngIf="row.description">
                        <p>{{ row.description }}</p>
                      </div>
                      <textarea pInputTextarea class="form-control" [id]="row.name" rows="6"
                        [(ngModel)]="payload[row.name]" [name]="row.name + i" [required]="row.required"></textarea>
                      <div *ngIf="createForm.submitted" class="invalid-feedback">
                        <div>{{ row.label }} is required</div>
                      </div>
                    </div>

                    <div class="form-group" *ngSwitchCase="'dropdown'">
                      <label class="form__label" [for]="row.name">{{ row.label
                        }}<span *ngIf="row.required">*</span></label>
                      <p-dropdown [options]="row.options" placeholder="--Select--" dataKey="value" optionLabel="label"
                        styleClass="w-100" *ngIf="row.dropdownOutput == 'object'" [(ngModel)]="payload[row.name]"
                        [name]="row.name + i" [required]="field.required">
                      </p-dropdown>
                      <select *ngIf="row.dropdownOutput == 'string'" class="form-control" styleClass="w-100"
                        [(ngModel)]="payload[row.name]" [name]="row.name + i" [required]="row.required">
                        <option *ngFor="let item of row.options" [value]="item">
                          {{ item }}
                        </option>
                      </select>
                      <div *ngIf="createForm.submitted" class="invalid-feedback">
                        <div>{{ row.label }} is required</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right w-100">
        <button pButton type="submit" icon="pi pi-save" class="mr-4 button button--blue" iconPos="left"
          label="Save Progress"></button>
        <button pButton type="button" [disabled]="submitting" class="button button--primary"
          (click)="createForm.valid && handleOpenNext()" label="Go to Application Checklist"></button>
      </div>
    </form>
    <!-- end initial listing of equities -->
  </div>
</div>