.information.application-tab {
  padding: 1rem 2rem;
  display: flex;
}

.ng-invalid ~ .invalid-feedback,
.ng-invalid ~ .invalid-tooltip,
.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip {
  display: block;
}
.calendar {
  display: flex;
}
.ui-calendar {
  flex-basis: 100% !important;
  /* max-width: 100% !important; */
}

.calendar > span > input {
  width: 100%;
}
