﻿<div class="auth">
  <div class="auth-form">
    <div *ngIf="showTenantChange()" class="card-header">
      <tenant-change></tenant-change>
    </div>
    <div class="card-body login-card-body">
      <div class="auth-logo">
        <img
          src="assets/img/nse-logo.png"
          class="img-fluid"
          alt="NSE e-filing"
        />
      </div>
      <router-outlet></router-outlet>

      <div class="socials socials--mobile">

        <a href="https://www.youtube.com/user/nsecontact"><i class="lab la-youtube"></i></a>
        <a href="https://www.facebook.com/TheNigerianStockExchange/"><i class="lab la-facebook"></i></a>
        <a href="https://twitter.com/nsenigeria"><i class="lab la-twitter"></i></a>
        <a href="https://www.linkedin.com/company/the-nigerian-stock-exchange-nse-/"><i class="lab la-linkedin"></i></a>
        <a href="https://www.instagram.com/nsenigeria/?hl=en"><i class="lab la-instagram"></i></a>

      </div>
    </div>
    <!-- <div class="card-footer">
      <account-languages></account-languages>
    </div> -->
  </div>

  <div class="auth-info-wrapper">
    <img src="assets/img/bg.png" class="auth__bg" alt="auth" />
    <div class="auth-row"></div>

    <div class="auth-row">
      <div class="auth-info">
        <h3 class="heading auth__heading">NSE E-FILING PORTAL</h3>
        <p class="paragraph auth__desc">
          A smart and easy-to-use platform for submitting and processing securities listing applications.    
        </p>
        <h3 style="color:white">
          SIMPLE | EFFICIENT | CONVENIENT 
        </h3>
      </div>
      <div class="auth-footer">
        <div class="copyright">
          Copyright 2021 © The Nigerian Stock Exchange. All rights reserved.
        </div>
        <div class="socials">
          <a href="https://www.youtube.com/user/nsecontact"><i class="lab la-youtube"></i></a>
          <a href="https://www.facebook.com/TheNigerianStockExchange/"><i class="lab la-facebook"></i></a>
          <a href="https://twitter.com/nsenigeria"><i class="lab la-twitter"></i></a>
          <a href="https://www.linkedin.com/company/the-nigerian-stock-exchange-nse-/"><i class="lab la-linkedin"></i></a>
          <a href="https://www.instagram.com/nsenigeria/?hl=en"><i class="lab la-instagram"></i></a>
  </div>
      </div>
    </div>
  </div>
</div>
