<div [@routerTransition] class="profile">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row justify-content-between align-items-start">
        <div>
          <h1 class="heading">{{ "System Configuration" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="content px-5">
    <div class="container-fluid">
      <div class="row profile-row mt-4">
        <div class="col-12">
          <h2 class="heading profile-heading">Settings A</h2>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="form__label" for="title">Text field</label>
            <input type="text" id="title" pInputText class="form-control" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="form__label" for="phone">Phone</label>
            <p-inputMask id="phone" mask="(999) 999-9999" styleClass="form-control" placeholder="(999) 999-9999">
            </p-inputMask>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="form__label" for="title">Number Field</label>

            <div>
              <p-inputNumber id="number" mode="decimal" styleClass="form-control w-100" inputStyleClass="w-100">
              </p-inputNumber>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="form__label" for="password">Password</label>
            <input type="password" id="password" pInputText class="form-control" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="form__label" for="textarea">Textarea</label>
            <textarea pInputTextarea class="form-control" id="textarea" rows="6"></textarea>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="form__label" for="role">Drop down </label>

            <p-dropdown [options]="arr" [(ngModel)]="selectedValue" placeholder="--Select--" optionLabel="label"
              styleClass="w-100"></p-dropdown>
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label class="form__label" for="title">Recipients (press enter to add data)</label>
            <div>
              <p-chips [(ngModel)]="recipients" styleClass="w-100"></p-chips>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label class="form__label" for="editor">Text Editor</label>
            <p-editor [(ngModel)]="text" [style]="{ height: '200px' }" id="editor"></p-editor>
          </div>
        </div>
      </div>

      <div class="row profile-row">
        <div class="col-12">
          <h2 class="heading profile-heading">Settings B</h2>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form__label" for="radio">Radio </label>

            <div class="p-field-radiobutton">
              <p-radioButton name="city" value="Chicago" [(ngModel)]="radio" inputId="city1"></p-radioButton>
              <label for="city1">Chicago</label>
            </div>
            <div class="p-field-radiobutton">
              <p-radioButton name="city" value="Los Angeles" [(ngModel)]="radio" inputId="city2"></p-radioButton>
              <label for="city2">Los Angeles</label>
            </div>
            <div class="p-field-radiobutton">
              <p-radioButton name="city" value="New York" [(ngModel)]="radio" inputId="city3"></p-radioButton>
              <label for="city3">New York</label>
            </div>
            <div class="p-field-radiobutton">
              <p-radioButton name="city" value="San Francisco" [(ngModel)]="radio" inputId="city4"></p-radioButton>
              <label for="city4">San Francisco</label>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form__label">Checkbox </label>

            <div class="p-field-checkbox">
              <p-checkbox name="group1" value="New York" [(ngModel)]="selectedCheckbox" inputId="ny"></p-checkbox>
              <label for="ny">New York</label>
            </div>
            <div class="p-field-checkbox">
              <p-checkbox name="group1" value="San Francisco" [(ngModel)]="selectedCheckbox" inputId="sf"></p-checkbox>
              <label for="sf">San Francisco</label>
            </div>
            <div class="p-field-checkbox">
              <p-checkbox name="group1" value="Los Angeles" [(ngModel)]="selectedCheckbox" inputId="la"></p-checkbox>
              <label for="la">Los Angeles</label>
            </div>
            <div class="p-field-checkbox">
              <p-checkbox name="group1" value="Chicago" [(ngModel)]="selectedCheckbox" inputId="ch"></p-checkbox>
              <label for="ch">Chicago</label>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form__label" for="role">Calendar</label>

            <p-calendar [(ngModel)]="value" styleClass="w-100" inputStyleClass="w-100"></p-calendar>
          </div>
        </div>
      </div>

      <div class="row profile-row">
        <div class="col-12">
          <h2 class="heading profile-heading">Settings C</h2>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form__label" for="oldPassword">Toggle Button</label>
            <div>
              <p-toggleButton [(ngModel)]="checked" styleClass="toggle-button"></p-toggleButton>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form__label" for="newPassword">Multiselect</label>
            <div class="mb-4">
              <p-selectButton [options]="powerState" [(ngModel)]="selectedState"></p-selectButton>
            </div>

            <div>
              <p-selectButton [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-selectButton>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <div class="form-group">
              <label class="form__label" for="switch">Switch </label>
              <div>
                <p-inputSwitch [(ngModel)]="checked" id="switch"></p-inputSwitch>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form__label" for="confirmNewPassword">Slider</label>
            <div class="pl-3 pr-3">
              <p-slider [(ngModel)]="val"></p-slider>
            </div>
          </div>
        </div>
      </div>

      <div class="row profile-row">
        <div class="col-12">
          <h2 class="heading profile-heading">Settings D</h2>
        </div>

        <div class="col-12 mb-4">
          <label class="form__label">Line Chart</label>
          <p-chart type="line" [data]="lineChartData"></p-chart>
        </div>

        <div class="col-12 mb-4">
          <label class="form__label">Bar Chart</label>
          <p-chart type="bar" [data]="barChartData"></p-chart>
        </div>

        <div class="col-12 mb-4">
          <label class="form__label">Doughnut</label>
          <p-chart type="doughnut" [data]="doughnutData"></p-chart>
        </div>

        <div class="col-12 mb-4">
          <label class="form__label">Polar</label>
          <p-chart type="polarArea" [data]="polarData"></p-chart>
        </div>

        <div class="col-12 mb-4">
          <label class="form__label">Pie</label>
          <p-chart type="pie" [data]="pieData"></p-chart>
        </div>

        <div class="col-12 mb-4">
          <label class="form__label">Radar</label>
          <p-chart type="radar" [data]="radarData"></p-chart>
        </div>
      </div>

      <div class="text-right mb-5 mt-4">
        <button pButton type="button" [disabled]="submitting" class="button button--primary"
          label="Save Configuration"></button>
      </div>
    </div>
  </section>
</div>